%html
  %head
  %body    
    %div{style:"background: #F7F7F7 ;padding: 20px;box-sizing: border-box;"}
      %div{style:"background: #ffffff ; border: 1px solid #c0c0c0 ;padding: 20px;box-sizing: border-box;"}
        = image_tag "http://transfalcon.com.ve/assets/frontend/transfalcon-15bf4be4698a66db2eb2cc61795dfea7a625738bb9968b1b4adc890f16047caf.png", width: 300;
        %h3{style: "font-size: 18px; font-weight: bold; margin: 5px 0 0 0;"}
          Hola #{@order.user.email}!
        %h3{style: "font-size: 16px; font-weight: bold; margin: 5px 0 0 0;"}
          Su orden de Compra N° #{@order.code}
        %h3{style: "font-size: 16px; font-weight: bold; margin: 5px 0 0 0;"}
          Ha sido #{@order.status}