- if @selector == "center"
	$('#riffils_center_sector_center').html("#{escape_javascript(options_from_collection_for_select(@sector.riffils_centers.order('name ASC'), :id, :name))}");
	$("#riffils_center_sector_center").prepend("<option value='' selected='selected'>Escoga un centro de recarga</option>");
	$("#riffils_center_sector_center").prop('disabled', false);
	$("#btn-center").prop('disabled', true);

- if @selector == "road"

	$('#riffils_center_sector_road').html("#{escape_javascript(options_from_collection_for_select(@sector.road_transports.order('name ASC'), :id, :name))}");
	$("#riffils_center_sector_road").prepend("<option value='' selected='selected'>Escoga una ruta</option>");
	$("#riffils_center_sector_road").prop('disabled', false);
	$("#btn-road").prop('disabled', true);



