$('#riffils_center_sector_road').html("#{escape_javascript(options_from_collection_for_select(@sector.road_transports, :id, :name))}");
$("#riffils_center_sector_road").prepend("<option value='' selected='selected'>Escoga una Ruta</option>");
$("#riffils_center_sector_road").prop('disabled', false);
$("#btn-center").prop('disabled', true);



