
- if @selector == "center"

	$('#riffils_center_sector_select').html("#{escape_javascript(options_from_collection_for_select(@municipality.sectors.order('name ASC'), :id, :name))}");
	$("#riffils_center_sector_select").prepend("<option value='' selected='selected'>Escoga un Sector</option>");
	$("#riffils_center_sector_select").prop('disabled', false);
	$('#riffils_center_sector_center option[value=""]').attr('selected','selected');
	$("#btn-center").prop('disabled', true);
	$("#riffils_center_sector_center").prop('disabled', true);

- if @selector == "road"

	$('#riffils_center_sector_select2').html("#{escape_javascript(options_from_collection_for_select(@municipality.sectors.order('name ASC'), :id, :name))}");
	$("#riffils_center_sector_select2").prepend("<option value='' selected='selected'>Escoga un Sector</option>");
	$("#riffils_center_sector_select2").prop('disabled', false);
	$('#riffils_center_sector_road option[value=""]').attr('selected','selected');
	$("#btn-road").prop('disabled', true);
	$("#riffils_center_sector_road").prop('disabled', true);