= title "TRANSFALCÓN - SE MUEVE CON LA GENTE"

.home#home
	= render "frontend/pages/home"
.news#news
	= render "frontend/pages/news"
.about#about
	= render "frontend/pages/about"
.how#how
	= render "frontend/pages/how"
.refills-center#refills-center
	= render "frontend/pages/refills_center"
.road-transports#road-transports
	= render "frontend/pages/road_transports"
.gallery#gallery
	= render "frontend/pages/gallery"