$('#parcial-gallery').html("<%= escape_javascript(render :partial => 'frontend/pages/attachments') %>");
//$('#parcial-gallery').append("<%= j render(:partial => 'frontend/pages/attachments', :locals => { :c => @attachments })%>");