.gallery
  .row{style:"margin: 0;"}
    = header_section("GALERíA", "")
    .col-lg-6.col-xs-6
      = link_to("FOTOS", option_show_gallery_path("fotos"), class: "btn btn-option-gallery pull-right", remote: true)
    .col-lg-6.col-xs-6
      = link_to("VIDEOS", option_show_gallery_path("videos"), class: "btn btn-option-gallery pull-left", remote: true)

  .row.container-fluid.padng-top
    #parcial-gallery
      = render "frontend/pages/attachments"