= title "Ruta de transporte | #{@road_transport.name}"
.container-render-road
	= render "frontend/pages/road_transports"

.container-road#anchor
	.panel.panel-primary
		.panel-heading
			%center
				%p{style:"margin: 0;"} RUTA DE TRANSPORTE #{@road_transport.name.upcase}
		.panel-body

			.row.container-road-info
				.col-lg-3.col-info
					.col-lg-12
						%label Horario
						%p #{@road_transport.schedule}
					.col-lg-12
						%label Unidades disponibles
						%p #{@road_transport.units}
					.col-lg-12
						%label Frecuencia de la ruta
						%p #{@road_transport.frequency}
					.col-lg-12
						%label Cantidad de usuario de la ruta
						%p #{@road_transport.users_quantity}
					.col-lg-12
						%label Poblacion beneficiada
						%p #{@road_transport.population}
					.col-lg-12
						%label Estaciones de la ruta
						%p #{@road_transport.station_quantity}
					.col-lg-12
						%label Tiempo estimado de la ruta
						%p #{@road_transport.timelapse}
				- unless @road_transport.map.blank?
					.col-lg-9.col-map
						= @road_transport.map.html_safe


- if action_name == "show_road"
	:javascript
		
		$('select option[value="#{@municipality_load.id}"]').attr("selected",true);

		$( "#riffils_center_sector_select2" ).prop( "disabled", false ); //Desbloquea el Select de Centros de recarga

		$( "#riffils_center_sector_road" ).prop( "disabled", false ); //Desbloquea el Select de los sectores

		$('#riffils_center_sector_select2').html("#{escape_javascript(options_from_collection_for_select(@municipality_load.sectors, :id, :name))}");

		$('#riffils_center_sector_road').html("#{escape_javascript(options_from_collection_for_select(@sector.road_transports, :id, :name))}");

		//$("#riffils_center_sector_road").prepend("<option value='' selected='selected'>#{@road_transport.name}</option>");

		//$("#riffils_center_sector_select2").prepend("<option value='' selected='selected'>#{@sector.name}</option>");
