= title "Centro de recarga | #{@riffils_center.name.upcase}"
.container-render-center
	= render "frontend/pages/refills_center"

.container-center#anchor
	.panel.panel-primary
		.panel-heading
			%center
				%p{style:"margin: 0;"} CENTRO DE RECARGA #{@riffils_center.name.upcase}
		.panel-body

			.row.container-center-info{style:"width: 100%; margin: 0;"}
				.col-lg-3.col-info
					.col-lg-12
						%label Dirección
						%p#asd #{@riffils_center.address}
					.col-lg-12
						%label Horario
						%p #{@riffils_center.schedule}
					.col-lg-12
						%label Telefono
						%p #{@riffils_center.phone}
				- unless @riffils_center.map.blank?
					.col-lg-9.col-map{style:"padding:0;"}
						= @riffils_center.map.html_safe
						

- if action_name == "show_center"
	:javascript
		$('#riffils_center_sector_center').html("#{escape_javascript(options_from_collection_for_select(@sector.riffils_centers, :id, :name))}");

		$('#riffils_center_sector_select').html("#{escape_javascript(options_from_collection_for_select(@municipality_load.sectors, :id, :name))}");

		$('select option[value="#{@municipality_load.id}"]').attr("selected",true);

		$( "#riffils_center_sector_center" ).prop( "disabled", false ); //Desbloquea el Select de Centros de recarga

		$( "#riffils_center_sector_select" ).prop( "disabled", false ); //Desbloquea el Select de los sectores


		$( document ).ready(function() {
			$("#footer").css("margin-top", "200px");
		});


		//$("#riffils_center_sector_center").prepend("<option value='' selected='selected'>#{@riffils_center.name}</option>");
		//$("#riffils_center_sector_select").prepend("<option value='' selected='selected'>#{@sector.name}</option>");