.blog-widget
	.blog-widget--header
		%h3.widget-title
			Twitter timeline
	.blog-widget--body
		%a.twitter-timeline{ href:"https://twitter.com/#{KepplerBlog.twitter_username}", "data-widget-id"=>"#{KepplerBlog.widget_twitter_id}", "data-chrome"=>"header" } 
			= "Tweets por @#{KepplerBlog.twitter_username}"
		%a.twitter-timeline{"data-widget-id" => "738760578664169473", :href => "https://twitter.com/AndresPSUV"} Tweets por el @AndresPSUV.

		:javascript
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		

