= title "NOTICIAS - TRANSFALCON"
= meta_description "BLOG TRANSFALCON"

.container.blog#keppler-blog
	= header_section("NOTICIAS", "")
	.row{style:"width: 100%; margin: 0;"}
		- unless @posts.empty?
		
			- @posts.each do |post|
				= link_to blog_show_post_path(post.permalink) do
					.col-lg-4.col-xs-12.margin

						.posts-wrapper{style: "background-image: url(#{post.image}); background-position-y: 50%;"}
							.post
								.post-attributes
									%ul
										%li
											%span
												= I18n.l post.created_at, format: '%b'
												
												= I18n.l post.created_at, format: '%d'
								.post-body
									= sanitize(post.title, tags: [])

									%p VER MAS

				
		- else
			%center
				No se encontraron resultados.
		%hr.hr-half

			= paginate @posts, :views_prefix => 'templates'

