= title @post.title
= meta_description sanitize(@post.body, tags: []).truncate(150)

.container.blog#keppler-blog
	= render 'categories'
	.visible-xs
		= render 'search'
	.row{style: "width:100%; margin: 0;"}
		.col-lg-8.col-xs-12{style:"padding: 0;"}
			.posts-wrapper-show
				.post

					.post-image{style: "background-image: url(#{@post.image}); "}
					
						.post-attributes-show
							%ul
								%li
									%span
										%i.fa.fa-calendar
										= @post.created_at.strftime("%d %b. %Y")
								%li
									%i.fa.fa-user
									= link_to @post.user.name, filter_path('autor', @post.user.permalink)
								%li
									%i.fa.fa-tags
									= link_to @post.category.name, filter_path('category', @post.category.permalink)

					%h2.post-title
						= link_to @post.title, blog_show_post_path(@post.permalink, popup: "true")
					
					
					= @post.shared_enabled ? social_share_button_tag(@post.title) : "<br>".html_safe

					.post-body
						= @post.body.html_safe
				
				= render 'facebook_comments'

		= render "sidebar"