= f.input :name, label: 'Nombre' , autofocus: true, placeholder: 'Nombre', input_html: { class: 'form-control input-register' }, wrapper: false

= f.label "Cedula de identidad"
.row
	.col-lg-2
		= f.input :type_rif, label: false, collection:['V', 'E'],autofocus: true, placeholder: 'Cedula', input_html: { class: 'form-control input-register' }, wrapper: false, include_blank: false
	.col-lg-10
		= f.input :identification, label: false ,autofocus: true, placeholder: 'Cedula', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :state, label: 'Estado', autofocus: true, placeholder: 'Estado', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :municipality, label: 'Municipio', autofocus: true, placeholder: 'Municipio', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :address, label: 'Dirección de Envío', autofocus: true, placeholder: 'Ejemplo: Sector/Urb - AV./Calle/Manzana/Piso - Casa/Apartamento', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :phone1, label: 'Teléfono de Contacto 1', autofocus: true, placeholder: 'Teléfono de Contacto 1', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :phone2, label: 'Teléfono de Contacto 2', autofocus: true, placeholder: 'Teléfono de Contacto 2', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :email, label: 'Email', autofocus: true, placeholder: 'Email', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :password, label: 'Contraseña', autofocus: true, placeholder: 'Contraseña', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :password_confirmation, label: 'Confirmación de Contraseña', autofocus: true, placeholder: 'Confirmación de Contraseña', input_html: { class: 'form-control input-register' }, wrapper: false

%input{type:"checkbox", name:"accepted", value:"true", id:"accept-terms-natural"}
	%a{"data-toggle" => "modal", href: "#term-modal"}
		Términos y Condiciones Legales

= f.submit 'Registrate', :class => 'btn-rs pull-right btn btn-submit', disabled: true

:javascript
	var i = false;
	$("#accept-terms-natural").on( "click", function() {
		console.log("terms")
		if(i==false){
			$(".btn-submit").attr('disabled', false);
			i = true;
		}else{
			$(".btn-submit").attr('disabled', true);
			i=false;
		}
	});
