.container
  .flex-parent
    .flex-item
      .title-app.text-center
        Editar 
      = simple_form_for(@user, :as => resource_name, :url => update_user_edit_path(@user), :method => :PUT, wrapper: :bootstrap) do |f|
        .content
          = devise_error_messages!
          .body-form
            = f.input :usertype, label: "Tipo de Cliente", collection: ["Jurídico", "Natural"], include_blank: "Tipo de Cliente", autofocus: true, input_html: { class: 'form-control input-register', id: "select-register"}
          #juridica_form
            = render "devise/registrations/juridica", f:f
          #natural_form
            = render "devise/registrations/natural", f:f

          - if @user.type_rif.eql?("J") || @user.type_rif.eql?("G")
            :javascript
              $("#juridica_form").show();
              $("#natural_form").hide();
          -else
            :javascript
              $("#juridica_form").hide();
              $("#natural_form").show();
          :javascript
            $( "#select-register" )
              .change(function () {
                var str = "";
                $( "#select-register option:selected" ).each(function() {
                  str += $( this ).text();
                });
                if (str == "Jurídico"){
                 $("#juridica_form").show(); 
                 $("#natural_form").hide();
                }
                if (str == "Natural"){
                 $("#natural_form").show();
                 $("#juridica_form").hide();
                }
              })
            .change();
