.container
  .flex-parent
    .flex-item
      .title-app.text-center
        Registro de Usuarios
      = simple_form_for(resource, :as => resource_name, :url => user_registration_path, wrapper: :bootstrap) do |f|
        .content
          .body-form
            = f.input :usertype, label: "Tipo de Cliente", collection: ["Jurídico", "Natural"], include_blank: "Tipo de Cliente", autofocus: true, input_html: { class: 'form-control input-register', id: "select-register" }
          #juridica-form
          #natural-form
          = render "terms/modal_terms"

          :javascript
            var juridica = "#{j render 'devise/registrations/juridica', f:f}"
            var natural = "#{j render 'devise/registrations/natural', f:f}"
            $( "#select-register" )
              .change(function () {
                var str = "";
                $( "#select-register option:selected" ).each(function() {
                  str += $( this ).text();
                });
                if (str == "Jurídico"){
                  $('#juridica-form').append(juridica);
                  $('#natural-form').html('');
                }
                if (str == "Natural"){
                  $('#natural-form').append(natural);
                  $('#juridica-form').html('');
                }
              })
            .change();