.listing-show-header
	%h5
		= material_icon.md_24.local_shipping.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Descripcion del modulo
		%p{align: "justify"} Permite agrega, mostrar, editar y eliminar rutas de transportes que realizan las unidades de transfalcon..
