.wrapper
	.wrapper-body.container
		.actions
			= link_to road_transports_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @road_transport do |f|
					.row
						= f.input :code, label: "Código"
						= f.input :name, label: "Nombre"
						= f.input :schedule, label: "Horario"
						= f.input :units, label: "Cantidad de unidades disponibles"
						= f.input :frequency, label: "Frecuencia de la ruta"
						= f.input :users_quantity, label: "Cantidad de usuarios de la ruta"
						= f.input :population, label: "Cantidad de poblacion beneficiada de la ruta"
						= f.input :station_quantity, label: "Cantidad de estaciones de la ruta"
						= f.input :timelapse, label: "Tiempo estmiado de la ruta"
						= f.association :municipality, label: false, include_blank: "Añadir municipio", input_html: { class: "browser-default" }
						= f.input :sector_ids, :collection => f.object.created_at? ? @sectors.map { |s| [s.name, s.id] } : [], label: "Añadir sectores por donde transita la ruta", include_blank: f.object.created_at? ? false : "Debe seleccionar un municipio para poder elejir los sectores", :input_html => { :multiple => true, disabled: f.object.created_at? ? false : true }
						
					
						= f.input :map, label: "Mapa", input_html: { class: "materialize-textarea" }
						
						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
	