.listing-show-header
	.actions
		- if can? :update, RoadTransport
			= link_to edit_road_transport_path(@road_transport), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.local_shipping.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label Codigo
			.display-value= @road_transport.code
		%li.list-row
			.display-label Nombre
			.display-value= @road_transport.name
		%li.list-row
			.display-label Municipio
			.display-value= @road_transport.municipality.name
		%li.list-row
			.display-label Sectores
			- @road_transport.sectors.each do |sector|
				.display-value - #{sector.name}
		%li.list-row
			.display-label Horario
			.display-value= @road_transport.schedule
		%li.list-row
			.display-label Cantidad de unidades disponibles
			.display-value= @road_transport.units
		%li.list-row
			.display-label Frecuencia de la ruta
			.display-value= @road_transport.frequency
		%li.list-row
			.display-label Cantidad de usuarios de la ruta
			.display-value= @road_transport.users_quantity
		%li.list-row
			.display-label Cantidad de poblacion beneficiada de la ruta
			.display-value= @road_transport.population
		%li.list-row
			.display-label Cantidad de estaciones de la ruta
			.display-value= @road_transport.station_quantity
		%li.list-row
			.display-label Tiempo estmiado de la ruta
			.display-value= @road_transport.timelapse
		%li.list-row
			.display-label Mapa de la ruta
			.map-road-min
				= @road_transport.map.html_safe
	

:javascript
	$('.tooltipped').tooltip({delay: 1});
