%tr{ id: "row-#{road_transport.id}" }
	- if can? :destroy_multiple, RoadTransport
		%td.item-check{style:"width: 10%"}
			= link_to "", road_transport_path(road_transport), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{road_transport.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{road_transport.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{road_transport.id}" }

		%td{style:"width: 30%"}
			= link_to "", road_transport_path(road_transport, search: @query), remote: true, class: "show-row"
			%span
				= road_transport.code
		%td{style:"width: 60%"}
			= link_to "", road_transport_path(road_transport, search: @query), remote: true, class: "show-row"
			%span
				= road_transport.name
								
	%td{style:"width: 5%"}		
		= link_to road_transport_path(road_transport), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")