.riffils_center_sector_ids, .road_transport_sector_ids{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	#riffils_center_sector_ids, #road_transport_sector_ids{
		display: block;
		height: auto;
		padding: 10px;
		border-color: #909090;
		margin-top: 10px;
		overflow-y: auto;
	}
	label{
		width: 100%;
		font-size: 1rem;
		top: -13px;
	}
	#ms-riffils_center_sector_ids, #ms-road_transport_sector_ids{
		margin: auto;
		margin-top: 20px;
	}
}