.wrapper
	.wrapper-body.container
		.actions
			= link_to terms_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @term do |f|
					.row
						= f.input :description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
