%tr{ id: "row-#{term.id}" }
	- if can? :destroy_multiple, Term
		%td.item-check{style:"width: 10%"}
			= link_to "", term_path(term), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{term.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{term.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{term.id}" }

	%td{style:"width: 85%"}		
		= link_to "", term_path(term), remote: true, class: "show-row"

		%span
			Terminos Legales

	%td{style:"width: 5%"}		
		= link_to term_path(term), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")