#term-modal.term-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "dialog"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Términos y Condiciones
      .modal-body
        = @term.description.html_safe
      .modal-footer
        %button.btn.btn-rs{"data-dismiss" => "modal", :type => "button"} Cerrar