<%- unless @municipality.sectors.empty? %>
	$('<%= @selector %>').css("display", "block")
	$('<%= @selector %> select').prop('disabled', false)
	$('<%= @selector %> select').show()
	$('<%= @selector %> select').html('<%= escape_javascript(options_for_select(@municipality.sectors.map { |s| [s.name, s.id] }))%>');
<%- else %>
	$('<%= @selector %> select').html('<%= escape_javascript(options_for_select(["El municipio seleccionado no tiene sectores", ""]))%>');
	$('<%= @selector %> select').prop('disabled', true)
<%- end %>