%pageslide.card{ "ps-open"=>"sidebar", "ps-auto-close" => true }
  .profile-menu.bgc-red-500
    .profile-pic
      = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
    .profile-info
      = current_user.name
  %ul.pageslide-menu.collapsible{"data-collapsible" => "accordion"}
    = render "layouts/admin/sidebar_engines_links"
    %li
      = header_tab "Lugares", "local_offer", current_navigation?("Centers")
      = body_tab do
        - if can? :index, RiffilsCenter
          = link_tab "Centros de recarga", main_app.riffils_centers_path, current_tab?("modulo", "Centers")
        - if can? :index, RoadTransport
          = link_tab "Rutas de transportes", main_app.road_transports_path, current_tab?("modulo", "Routes")
        - if can? :index, Municipality
          = link_tab "Municipios", main_app.municipalities_path, current_tab?("modulo", "Municipies")
        - if can? :index, Sector
          = link_tab "Sectores", main_app.sectors_path, current_tab?("modulo", "Sectors")
    - if can? :index, User
      %li
        = tab "Usuarios", "person", main_app.users_path, current_navigation?("Users")
    - if can? :index, Order
      %li
        = header_tab "Ecommerce", "store", current_navigation?("Terms")
        = body_tab do
          - if can? :index, Term
            = link_tab "Términos Legales", main_app.terms_path, current_tab?("Ecommerce", "Term")
          - if can? :index, Order
            = link_tab "Ordenes", main_app.orders_path, current_tab?("Ecommerce", "Order")
          - if can? :index, Product
            = link_tab "Productos", main_app.products_path, current_tab?("Ecommerce", "Product")