.listing-show-header
	%h5
		= material_icon.md_24.location_on.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Descripcion del modulo
		%p{align: "justify"} Permite agrega, mostrar, editar y eliminar sectores que pertenecen al conjunto de municipios donde transitan las unidades de transporte..
