.wrapper
	.wrapper-body.container
		.actions
			= link_to sectors_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @sector do |f|
					.row
						= f.input :name
						= f.association :municipality, label: false, include_blank: "Municipios", input_html: { class: "browser-default" }

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
