.listing-show-header
	.actions
		- if can? :update, Sector
			= link_to edit_sector_path(@sector), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.location_on.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("Identificador")
			.display-value= @sector.id
		%li.list-row
			.display-label= t("Nombre")
			.display-value= @sector.name
		%li.list-row
			.display-label= t("Municipio")
			.display-value= @sector.municipality.name
	

:javascript
	$('.tooltipped').tooltip({delay: 1});
