%tr{ id: "row-#{sector.id}" }
	- if can? :destroy_multiple, Sector
		%td.item-check{style:"width: 10%"}
			= link_to "", sector_path(sector), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{sector.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{sector.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{sector.id}" }

		%td{style:"width: 30%"}
			= link_to "", sector_path(sector, search: @query), remote: true, class: "show-row"
			%span
				= sector.name
		%td{style:"width: 30%"}
			= link_to "", sector_path(sector, search: @query), remote: true, class: "show-row"
			%span
				= sector.municipality.name
								
	%td{style:"width: 5%"}		
		= link_to sector_path(sector), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")