= title "Sectores | #{@sector.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Sector
				= link_to sector_path(@sector), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Sector
				= link_to edit_sector_path(@sector), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to sectors_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("Identificador")
					.display-value.fs-body-1.tc-black-2= @sector.id
				%li.list-row
					.display-label= t("Nombre")
					.display-value.fs-body-1.tc-black-2= @sector.name
				%li.list-row
					.display-label= t("Municipio")
					.display-value.fs-body-1.tc-black-2= @sector.municipality.name
