.wrapper
  .wrapper-body.container
    .actions
      = link_to users_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .wrapper-inputs
      .card
        = simple_form_for @user do |f|
          .row 
            = f.input :name
            = f.input :email
            = f.input :role_ids, collection: Role.where.not(name: "superadmin").map { |rol| [rol.name.humanize, rol.id] }, label: false, include_blank: "Selecione un rol"
            = f.input :password
            = f.input :password_confirmation
            .form-actions.right
              = f.button :submit, "Guardar", class: "btn"