= f.input :name, label: "Nombre", autofocus: true, placeholder: "Nombre", input_html: { class: 'form-control' }, wrapper: false

= f.label "Rif"
.row
	.col-lg-2
		= f.input :type_rif, label: false, collection:['J', 'G'],autofocus: true, placeholder: 'RIF', input_html: { class: 'form-control input-register' }, wrapper: false, include_blank: false
	.col-lg-10
		= f.input :identification, label: false ,autofocus: true, placeholder: 'RIF', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :state, label: 'Estado', autofocus: true, placeholder: 'Estado', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :municipality, label: 'Municipio', autofocus: true, placeholder: 'Municipio', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :address, label: 'Dirección de Envío', autofocus: true, placeholder: 'Ejemplo: Estado - Municipio - Sector/Urb - AV./Calle/Manzana/Piso - Casa/Apartamento', input_html: { class: 'form-control input-register' }, wrapper: false

= f.input :fiscal_address, label: 'Dirección Fiscal', as: :text, autofocus: true, placeholder: 'Ejemplo: Estado - Municipio - Sector/Urb - AV./Calle/Manzana/Piso - Casa/Apartamento', input_html: { class: 'form-control input-register' }, wrapper: false


= f.input :phone1, label: "Telefono de Contacto 1", autofocus: true, placeholder: "Teléfono de Contacto 1", input_html: { class: 'form-control' }, wrapper: false

= f.input :phone2, label: "Telefono de Contacto 2", autofocus: true, placeholder: "Teléfono de Contacto 2", input_html: { class: 'form-control' }, wrapper: false

= f.input :email, label: "Correo", autofocus: true, placeholder: "Email", input_html: { class: 'form-control' }, wrapper: false

= f.input :contact, label: "Contacto", autofocus: true, placeholder: "Contacto", input_html: { class: 'form-control' }, wrapper: false

= f.input :password, label: "Contraseña", autofocus: true, placeholder: "Contraseña", input_html: { class: 'form-control' }, wrapper: false

= f.input :password_confirmation, label: "Confirmación de Contraseña", autofocus: true, placeholder: "Confirmación de Contraseña", input_html: { class: 'form-control' }, wrapper: false

= f.submit "Guardar", :class => 'btn-rs pull-right btn'