.container     
  .flex-parent
    .flex-item
      .title-app.text-center
        Restauración de Contraseña
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
        .content
          .body-form
            .col-sm-12.no-padding
              %h5 Ya puedes cambiar tu contraseña.
              %p Recuerda agregar una contraseña suficientemente segura
            = f.hidden_field :reset_password_token
            .input-field.form-group
              %label{for: "password"} Contraseña
              .input-icon
                %i.fa.fa-lock.fa-2x{"aria-hidden" => "true"}
                = f.password_field :password, autofocus: true, autocomplete: 'off', class: "validate #{'invalid' if resource.errors.messages[:password]} input-cs"
            .form-errors.center-align
              = resource.errors.messages.fetch(:password).first  
            .input-field.form-group
              %label{for: "password"} Confirmar contraseña
              .input-icon
                %i.fa.fa-lock.fa-2x{"aria-hidden" => "true"}
                = f.password_field :password_confirmation, autocomplete: 'off', class: "validate #{'invalid' if resource.errors.messages[:password_confirmation]} input-cs"
            .form-errors.center-align
              = resource.errors.messages.fetch(:password_confirmation).first
          .footer-form
            .col-sm-12.col-md-12.col-lg-12.btn-cs
              = f.submit 'Cambiar contraseña', :class => 'btn pull-right'