.container     
  .flex-parent
    .flex-item
      .title-app.text-center
        Restauración de Contraseña
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
        .content
          .body-form
            .col-sm-12.no-padding
              %h5 ¿Haz olvidado tu contraseña?
              %p Envianos tu email para darle las instrucciones a seguir.
            .input-field.form-group
              %label{for: :email} Email
              .input-icon
                %i.fa.fa-user.fa-2x{"aria-hidden" => "true"}
                = f.email_field :email, :autofocus => true, placeholder: "Email", class: "validate #{'invalid' unless resource.errors.messages.empty?} input-cs"
            .form-errors.center-align
              - resource.errors.each do |name, msg|
                = msg.capitalize
          .footer-form
            .col-sm-12.col-md-12.col-lg-12
              .col-sm-12.col-md-12.col-lg-12.btn-cs
                = f.submit 'Enviar', :class => 'pull-right btn '