﻿@charset "utf-8";
/*==========================================================================================================*/
/* ELEMENTOS BASICOS*/
/*==========================================================================================================*/
img{border:none;}
#cont_principal {margin:0px auto; text-align:left; width:991px; *width:991px; background:url(../imagenes/estructura/fondo_marco.gif) repeat-y;}
/*==========================================================================================================*/
/* MENSAJE POPUP SEGURIDAD -  POPUP EXTERNOS - TWITTER -  FACEBOOK*/
/*==========================================================================================================*/

#ventanaPopup1Fondo{display:none; position:absolute;  width:100%; top:0; left:0; background:#000000; z-index:999; height:128%;}
#ventanaPopup1_1{display:none;  background:none; border:0px solid #cecece; z-index:2; padding:5px; font-size:13px; z-index:1000; cursor:pointer; }
#ventanaPopup1Cerrar{
	top:327px;
	*top:327px;
	line-height:14px;
	*line-height:14px;
	right:175px;
	*right:175px;
	width:165px;
	*width:165px;
	height:70px;
	*height:70px;  cursor:pointer;  position:absolute;
	font-weight:700; display:block; float:left;
	background-image:url(../imagenes/popup/boton_cerrar3.png);
	#background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../imagenes/popup/boton_cerrar3.png,sizingMethod='scale');
}

/*
#ventanaPopup1Fondo{display:none; position:absolute;  width:100%; top:0; left:0; background:#000000; z-index:999; height:120%;}
#ventanaPopup1{display:none;  background:#FFFFFF; border:0px solid #cecece; z-index:2; padding:5px; font-size:13px; z-index:1000; top:100px; }
#ventanaPopup1Cerrar{font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; z-index:3; border:0px solid #cecece; font-size:12px; font-weight:bold; color:#666; top:330px; line-height:14px; right:205px; width:90px; height:40px;  cursor:pointer;  position:absolute; font-weight:700; display:block; float:left; background-image:url(../imagenes/popup/boton_cerrar.png); #background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../imagenes/popup/boton_cerrar.png,sizingMethod='scale')}
*/


#imagenes{margin:0 auto 0 auto; width:500px; height:385px;  background: none !important;}



#popup{display:none; background:none; border:0px solid #cecece; font-size:13px; z-index:1000; }

#popup .seguridad1
{
	width:500px; height:385px;
	background-image:url(../imagenes/popup/VENTANA_SEGURIDAD_1.png);
	#background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../imagenes/popup/VENTANA_SEGURIDAD_1.png,sizingMethod='scale');
}

#popup .seguridad2
{
	width:500px; height:385px;
	background-image:url(../imagenes/popup/VENTANA_SEGURIDAD_2.png);
	#background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../imagenes/popup/VENTANA_SEGURIDAD_2.png,sizingMethod='scale');
}

#popup .seguridad3
{
	width:500px; height:385px;
	background-image:url(../imagenes/popup/VENTANA_SEGURIDAD_3.png);
	#background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../imagenes/popup/VENTANA_SEGURIDAD_3.png,sizingMethod='scale');
}

#ventanaMensajeFondo{display:none; position:absolute;  width:100%; top:0; left:0; background:#000000; z-index:999; height:100%;}
#ventanaMensaje{display:none;  background:#FFFFFF; border:0px solid #cecece; z-index:2; padding:5px; font-size:13px; z-index:1000; width:600px; height:250px;}
#ventanaMensajeCerrar{display:none; top:8px; right:10px; font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; font-size:12px; font-weight:bold; color:#666; width:25px; height:25px;  cursor:pointer;  position:absolute; font-weight:700; display:block; float:left; background-image:url(../imagenes/popup/cerrar_rojo.gif);}
#Mensaje{display:none; background:#FFFFFF; border:0px solid #cecece; font-size:13px; z-index:1000; border:0px solid; }
#Mensaje #titulo_mensaje{float:left; display:block; height:30px; background-color:#cc0000; text-align:left; width:600px; }
#titulo_mensaje .titulo_mensaje_texto{float:left; display:block; position:relative; font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; font-size:13px; color:#FFF; font-weight:bold; padding:6px 10px; }
#Mensaje #subtitulo_mensaje{float:left; display:block; border:0px solid; background-color:#ffffff; text-align:left; color:#666666; width:600px; margin:15px 0px 0px 0px;}
#subtitulo_mensaje .subtitulo_mensaje_texto{float:left; display:block; border:0px solid; font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; width:500px; font-size:13px; color:#666666; font-weight:bold;  margin:0px 0px 0px 10px;  #margin:0px 0px 0px 5px;  padding-bottom: 15px; }
#Mensaje #detalle_mensaje{float:left; display:block; border:0px solid; background-color:#ffffff; text-align:justify; color:#666666; width:600px; _width:600px; margin:0px 0px 0px 0px;}

#Mensaje #subtitulo_mensaje2{float:left; display:block; border:0px solid; background-color:#ffffff; text-align:left; color:#666666; width:600px; margin:15px 0px 0px 0px;}
#subtitulo_mensaje2 .subtitulo_mensaje_texto2{float:left; display:block; border:0px solid; font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; width:575px; font-size:13px; color:#666666; font-weight:bold;  margin:0px 0px 0px 10px;  #margin:0px 0px 0px 5px;  padding-bottom:15px;}


#detalle_mensaje .detalle_mensaje_texto{float:left; display:block;  font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; font-size:13px; color:#666666; font-weight:normal; padding:0px 10px;}

#detalle_mensaje .detalle_mensaje_texto2{float:left; display:block;  font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; font-size:13px; color:#666666; font-weight:normal; padding:0px 10px;}
#detalle_mensaje .detalle_mensaje_texto3{float:left; display:block;  font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; font-size:13px; color:#666666; font-weight:normal; padding:0px 10px;}
#detalle_mensaje .detalle_mensaje_texto3 ul.una_columna{font-size: 12px; font-weight: normal; color: #878585; text-align: left; text-indent:0px; float: left; display:block; padding-top: 10px; padding-right: 10px; padding-left: 10px; padding-bottom: 20px; margin: 0px 0px 0px 0px; width: 95%; border: 0px solid;}
#detalle_mensaje .detalle_mensaje_texto3 ul.una_columna li{padding-right: 0px; padding-top: 0px; padding-bottom: 10px; display: block; padding-left: 25px; float: left; width:95%;  margin: 0px 0px 0px 0px; background: url(../imagenes/iconos/check_8x7.png) 8px 7px no-repeat; text-align:justify; border: 0px solid #990000;}

#detalle_mensaje .linea_detalle_mensaje_texto{float:left; display:block;  width:560px; _width:560px; padding:20px 10px; margin:20px 0px 0px 10px; _margin:20px 0px 0px 5px; background:url(../imagenes/popup/linea_division.jpg) repeat-x;}
#Mensaje #botonera{float:left; display:block; border:0px solid; text-align:left; color:#666666; width:578px; _width:570px; height:40px; margin:-20px 0px 0px 10px; _margin:-40px 0px 0px 10px;}
#botonera .boton_cerrar_texto {text-decoration:none; position:relative; display:block; float:right;  border:1px solid; text-align:center; color:#a4a4a4; width:80px; height:25px; _height:15px; margin:0px 0px 0px 10px; padding:10px 10px 0px 10px; _padding:10px 10px 10px 10px; background:#f6f6f6; cursor:pointer; border-color:#d8dcdf;}
/*==========================================================================================================*/
/* CABECERA (Cintillo - Banner)*/
/*==========================================================================================================*/
#cont_cabecera{width:991px; *width:991px; height:90px; background-color:none; margin:0; padding:0;}
#cont_cabecera .cintillo{width:991px; *width:991px; position:relative; display:block; height:56px; background: url(../imagenes/estructura/sprite-principal-23.png); background-position:0px -386px;}
#cont_cabecera .banner{width:991px; *width:991px; position:relative; display:block; height:70px; background: url(../imagenes/estructura/sprite-principal-23.png); background-position:0px -1px; border:0px solid; margin-bottom:20px;}
/*==========================================================================================================*/
/* MENU PRINCIPAL*/
/*==========================================================================================================*/
#cont_menu_horizontal{width:991px; *width:991px; height:32px; background-color:#FFFFFF; margin:0; margin-top:33px; *margin-top:-23px; padding:0;}
/*==========================================================================================================*/
/* FILA CENTRAL 1 -  SECCION LOGIN*/
/*==========================================================================================================*/
.cont_columna_izq_1_fila_central{position:relative; width:389px; height:240px; background:none; border-top:#FFFFFF 2px solid; margin:0; padding:0;}
.cont_columna_izq_1_fila_central #login_inicio{position:relative; display:block; height:227px; background: url(../imagenes/estructura/sprite-principal-23.png); background-position:-10px -90px; margin:16px 0px 0px 2px;}
/*==========================================================================================================*/
/* FILA CENTRAL 1 -  SECCION LOGIN - (BOTON ACCESO A CLAVENET PERSONAL)*/
/*==========================================================================================================*/
.cont_columna_izq_1_fila_central #boton_personal_inicio_certificado { font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; position: relative; display: block; width: 140px; height: 25px; margin: -214px 0px 0px 235px; border: 0px solid #000; }
.cont_columna_izq_1_fila_central #capa_hover_personal a#login_btn_personal_certificado_entrar { position: absolute; display: block; float: left; width: 41px; height: 17px; -height: 17px; margin: -22px 0px 0px 243px; border: 0px solid #000; }
.cont_columna_izq_1_fila_central #capa_hover_personal a#login_btn_personal_certificado_entrar:link { background-position: 0px 0px; _top: -2px; _background-position: 0px 2px; height: 15px; }
.cont_columna_izq_1_fila_central #capa_hover_personal a#login_btn_personal_certificado_entrar:hover { background-position: 0px -17px; _top: 0px; _background-position: 0px -17px; }
.cont_columna_izq_1_fila_central #capa_hover_personal { position: relative; display: block; margin: 0px 0px 0px 95px; }
/* --------- Boton Clave Personal - (Opcion "Demo") -------------- */
.cont_columna_izq_1_fila_central .span_demo { position: relative; display: block; float: left; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; margin: 0px 0px 0px 0px; -margin: 0px 0px 0px 0px; }
.cont_columna_izq_1_fila_central .login_btn_personal_demo { position: relative; display: block; float: left; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; margin: 1px 0px 0px -2px; }
.cont_columna_izq_1_fila_central .login_btn_personal_demo a { font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; }
.cont_columna_izq_1_fila_central .login_btn_personal_demo a:hover { font-size: 11px; font-weight: bold; color: #ee2d1b; }
.cont_columna_izq_1_fila_central .login_btn_personal_demo a:active, afterhover { font-size: 11px; font-weight: bold; color: #999999; }
/* --------- Boton Clave Personal - (Opcion "Afiliacion") -------------- */
.cont_columna_izq_1_fila_central .span_afiliacion { position: relative; display: block; float: left; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; margin: 0px 0px 0px 0px; -margin: 0px 0px 0px 0px; }
.cont_columna_izq_1_fila_central .span_afiliacion2 { position: relative; display: block; float: left; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; margin: 0px 0px 0px 0px; -margin: 0px 0px 0px 0px; }
.cont_columna_izq_1_fila_central .login_btn_personal_afiliacion { position: relative; display: block; float: left; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; margin: 1px 0px 0px 0px; -margin: 1px 0px 0px 0px; }
.cont_columna_izq_1_fila_central .login_btn_personal_afiliacion a { position: relative; display: block; float: left; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; }
.cont_columna_izq_1_fila_central .login_btn_personal_afiliacion a:hover { font-size: 11px; font-weight: bold; color: #ee2d1b; }
.cont_columna_izq_1_fila_central .login_btn_personal_afiliacion a:active, afterhover { font-size: 11px; font-weight: bold; color: #999999; }
/* --------- Boton Clave Personal - (Opcion "Ayuda") -------------- */
.cont_columna_izq_1_fila_central .span_ayuda { position: relative; display: block; float: left; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; margin: 0px 0px 0px 0px; -margin: 0px 0px 0px 0px; }
.cont_columna_izq_1_fila_central .login_btn_personal_ayuda { position: relative; display: block; float: left; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; margin: 1px 0px 0px 0px; -margin: 1px 0px 0px 0px; }
.cont_columna_izq_1_fila_central .login_btn_personal_ayuda a { position: relative; display: block; float: left; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; }
.cont_columna_izq_1_fila_central .login_btn_personal_ayuda a:hover { font-size: 11px; font-weight: bold; color: #ee2d1b; }
.cont_columna_izq_1_fila_central .login_btn_personal_ayuda a:active, afterhover { font-size: 11px; font-weight: bold; color: #999999; }
.cont_columna_izq_1_fila_central .login_btn_personal_ayuda2 { position: absolute; display: block; font-size: 11px; font-weight: bold; color: #999999; text-decoration: none; margin: 0px 0px 0px 0px; }
/*==========================================================================================================*/
/* FILA CENTRAL 1 -   SECCION LOGIN - (BOTON ACCESO A CLAVENET EMPRESARIAL)*/
/*==========================================================================================================*/
.cont_columna_izq_1_fila_central #boton_empresarial_inicio {
  font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif;
  position: relative;
  display: block;
  width: 140px;
  height: 30px;
  margin: 24px 0px 0px 233px;
  border: 0px solid #000;
}
.cont_columna_izq_1_fila_central #capa_hover_empresarial a#login_btn_empresarial_entrar {
  position: absolute;
  display: block;
  float: left;
  width: 41px;
  height: 17px;
  margin: 2px 0px 0px 108px;
  *margin: 2px 0px 0px 107px;
  -margin: 3px 0px 0px 108px;
  border: 0px solid #000;
}
.cont_columna_izq_1_fila_central #capa_hover_empresarial a#login_btn_empresarial_entrar:link {
  background-position: 0px 0px;
  _top: -2px;
  -top: -1px;
  _background-position: 0px 2px;
  height: 15px;
  border: 0px solid #000;
}
.cont_columna_izq_1_fila_central #capa_hover_empresarial a#login_btn_empresarial_entrar:hover {
  background-position: 0px -17px;
  *top: 0px;
  *background-position: 0px -17px;
  -top: 1px;
  -background-position: 0px -15px;
}
.cont_columna_izq_1_fila_central #capa_hover_empresarial {
  position: relative;
  margin: 0px 0px 0px 0px;
}
/*--------- Boton Clave Empresarial - (Opcion "Demo") --------------*/
.cont_columna_izq_1_fila_central .span_demo{position:relative; display:block; float:left; font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:0px 0px 0px 0px; -margin:0px 0px 0px 0px;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_demo{position:relative; display:block; float:left;  font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:1px 0px 0px -2px;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_demo a{font-size:11px; font-weight:bold; color:#999999; text-decoration:none;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_demo a:hover {font-size:11px; font-weight:bold; color:#ee2d1b;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_demo a:active,afterhover {font-size:11px; font-weight:bold; color:#999999;}
/*--------- Boton Clave Empresarial - (Opcion "Afiliacion") --------------*/
.cont_columna_izq_1_fila_central .span_afiliacion{position:relative; display:block; float:left; font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:0px 0px 0px 0px; -margin:0px 0px 0px 0px;}
.cont_columna_izq_1_fila_central .span_afiliacion2{position:relative; display:block; float:left; font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:1px 0px 0px 0px; -margin:-1px 0px 0px 0px;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_afiliacion{position:relative; display:block; float:left; font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:1px 0px 0px 0px; -margin:1px 0px 0px 0px;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_afiliacion a{position:relative; display:block; float:left; font-size:11px; font-weight:bold; color:#999999; text-decoration:none;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_afiliacion a:hover {font-size:11px; font-weight:bold; color:#ee2d1b;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_afiliacion a:active,afterhover {font-size:11px; font-weight:bold; color:#999999;}
/*--------- Boton Clave Empresarial - (Opcion "Ayuda") --------------*/
.cont_columna_izq_1_fila_central .span_ayuda{position:relative; display:block; float:left; font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:0px 0px 0px 0px; -margin:0px 0px 0px 0px;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_ayuda{position:relative; display:block; float:left; font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:1px 0px 0px 0px; -margin:1px 0px 0px 0px;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_ayuda a{position:relative; display:block; float:left;  font-size:11px; font-weight:bold; color:#999999; text-decoration:none;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_ayuda a:hover {font-size:11px; font-weight:bold; color:#ee2d1b;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_ayuda a:active,afterhover {font-size:11px; font-weight:bold; color:#999999;}
.cont_columna_izq_1_fila_central .login_btn_empresarial_ayuda2{position:absolute; display:block; font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:0px 0px 0px 0px;}
/*==========================================================================================================*/
/* FILA CENTRAL 1 -   SECCION LOGIN - (BOTON BDVMOVIL)*/
/*==========================================================================================================*/
.cont_columna_izq_1_fila_central #boton_bdv_movil{font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; position:relative; display:block; width:140px; height:30px; margin:24px 0px 0px 233px; border:0px solid;}
.cont_columna_izq_1_fila_central #capa_hover_bdvmovil a#login_btn_bdvmovil_entrar{position:absolute; display:block; float:left; width:41px; height:17px;  margin:-2px 0px 0px 108px;  *margin:-2px 0px 0px 107px; -margin:-3px 0px 0px 108px;  border:0px solid;}
.cont_columna_izq_1_fila_central #capa_hover_bdvmovil a#login_btn_bdvmovil_entrar:link {background-position:0px 0px; _top:-2px; -top:-1px; _background-position:0px 2px; height:15px;}
.cont_columna_izq_1_fila_central #capa_hover_bdvmovil a#login_btn_bdvmovil_entrar:hover {background-position:0px -17px; *top:0px; *background-position:0px -17px; -top:1px; -background-position:0px -17px; }
.cont_columna_izq_1_fila_central #capa_hover_bdvmovil{position:relative; margin:0px 0px 0px 0px;}

/*--------- Boton Clave Empresarial - (Opcion "Ayuda") --------------*/
.cont_columna_izq_1_fila_central .span_ayuda_bdvmovil{position:relative; display:block; float:left; font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:0px 0px 0px -60px; *margin:0px 0px 0px 0px; -margin:0px 0px 0px 0px; }

.cont_columna_izq_1_fila_central .login_btn_bdvmovil_ayuda{position:relative; display:block; float:left; font-size:11px; font-weight:bold; color:#999999; text-decoration:none; margin:1px 0px 0px 0px; -margin:1px 0px 0px 0px; border:0px solid;}
.cont_columna_izq_1_fila_central .login_btn_bdvmovil_ayuda a{position:relative; display:block; float:left;  font-size:11px; font-weight:bold; color:#999999; text-decoration:none;}

.cont_columna_izq_1_fila_central .login_btn_bdvmovil_ayuda a:hover {font-size:11px; font-weight:bold; color:#ee2d1b;}
.cont_columna_izq_1_fila_central .login_btn_bdvmovil_ayuda a:active,afterhover {font-size:11px; font-weight:bold; color:#999999;}

/*



/*==========================================================================================================*/
/* FILA CENTRAL 1 -   SECCION CONTACTANOS  */
/*==========================================================================================================*/
.cont_columna_izq_1_fila_central #centro_contacto{position:relative; display:block; height:36px; margin:10px 0px 0px 185px;}
/*==========================================================================================================*/
/* FILA CENTRAL 1 -   SECCION BANNER FLASH  */
/*==========================================================================================================*/
.cont_columna_izq_2_fila_central{position:absolute; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#999999; display:block; float:right; background:none; border-top:#FFFFFF 2px solid; margin:-118px 20px 0px 425px; -margin:-116px 12px 0px 425px;padding:0;}
.cont_columna_izq_3_fila_central{position:absolute; display:block; float:left; width:590px; height:230px; background:none; border-top:#FFFFFF 0px solid; margin:-100px 3px 0px 10px; -margin:-100px 3px 0px 10px; padding:0;}
/*==========================================================================================================*/
/* FILA CENTRAL 2 -   SECCION CUADRO AJAX  */
/*==========================================================================================================*/
.cont_columna_izq_1_fila_central2{position:relative; display:block; float:left; width:380px; height:215px; background:none; border-top:#FFFFFF 2px solid; margin:-5px 0px 0px 12px; *margin:5px 0px 0px 14px; -margin:5px 0px 0px 6px; padding:0;}
/*==========================================================================================================*/
/* FILA CENTRAL 2 -   SECCION PUBLICIDADES PEQUEÑAS  */
/*==========================================================================================================*/
.cont_columna_izq_2_fila_central2{position:relative; display:block; float:left; width:200px; height:222px; background:none; border-top:#FFFFFF 2px solid; margin:-20px 0px 0px 7px; *margin:-20px 0px 0px 7px; -margin:-20px 0px 0px 3px; padding:0;}
.cont_columna_izq_2_fila_central2 #cont_publicidad_1 {position:relative; display:block; float:left; width:201px; height:81px; background:none; margin:0px 0px 0px 0px; padding:0px;}
.cont_columna_izq_2_fila_central2 #cont_publicidad_2 {position:relative; display:block; float:left; width:201px; height:81px; background:none; margin:-5px 0px 0px 0px; padding:0px;}
.cont_columna_izq_2_fila_central2 #cont_publicidad_3 {position:relative; display:block; float:left; width:201px; height:81px; background:none; margin:-5px 0px 0px 0px; padding:0px;}


/**==========================================================================================================*/
/* FILA CENTRAL 2 -   SECCION PUBLICIDADES PEQUEÑAS 2 */
/*==========================================================================================================*/
.cont_columna_izq_2_fila_central22{position:relative; display:block; float:left; width:200px; height:222px; background:none; border-top:#FFFFFF 2px solid; margin:-20px 0px 0px -5px; *margin:-20px 0px 0px -22px; -margin:-20px 0px 0px -14px; padding:0;}
.cont_columna_izq_2_fila_central22 #cont_publicidad_1 {position:relative; display:block; float:left; width:201px; height:81px; background:none; margin:0px 0px 0px 0px; padding:0px;}
.cont_columna_izq_2_fila_central22 #cont_publicidad_2 {position:relative; display:block; float:left; width:201px; height:81px; background:none; margin:-5px 0px 0px 0px; padding:0px;}
.cont_columna_izq_2_fila_central22 #cont_publicidad_3 {position:relative; display:block; float:left; width:201px; height:81px; background:none; margin:-5px 0px 0px 0px; padding:0px;}

#cont_publicidad_lo_ultimo {position:absolute; display:block; float:left; width:178px; height:67px; border:0px solid; background:none; margin:-74px 0px 0px 0px; *margin:-80px 0px 0px 0px; -margin:-79px 0px 0px 0px; padding:0px;}


/*==========================================================================================================*/
/* FILA CENTRAL 2 -   SECCION INFORMACION RELEVANTE  */
/*==========================================================================================================*/
.cont_columna_izq_3_fila_central2{position:relative; display:block; float:left; width:180px; height:200px; background:none; border-top:0px solid; margin:-25px 0px 0px 5px;  *margin:-8px 0px 0px -5px; -margin:27px 0px 0px -5px;  padding:0; border:0px solid; -margin-top:-14px; }

.cont_columna_izq_3_fila_central2 #fondo_arriba1 {position:relative; width:180px; height:33px; margin:-1px 0px 0px 0px; *margin:-7px 0px 0px 0px;  -margin:-3px 0px 0px 0px; background:url(../imagenes/estructura/sprite-principal-23.png) no-repeat; background-position:-632px -106px;}
.cont_columna_izq_3_fila_central2 #fondo_central {position:relative; width:180px; margin:0px 0px 0px 0px; border:0px solid;  height:70px; *height:64px; -height:60px; background:url(../imagenes/estructura/sprite-principal-23.png) no-repeat; background-position:-632px -148px; *background-position:-632px -154px; -background-position:-632px -154px; border:0px solid; }

.cont_columna_izq_3_fila_central2 .fuente_modulos {font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#686868; text-decoration:none; margin:0px 0px 0px 0px; *margin:0px 0px 0px 0px; -margin:0px 0px 0px -1px; height:10px;  width:145px; border:0px solid;}

.cont_columna_izq_3_fila_central2 .fuente_modulos a {font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#686868; text-decoration:none; margin:0px 0px 0px 0px; height:10px;}
.cont_columna_izq_3_fila_central2 .fuente_modulos a:hover {font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#686868; text-decoration:underline; margin:0px 0px 0px 0px; height:10px; }

.cont_columna_izq_3_fila_central2 #fondo_arriba1_2 {position:relative; width:180px; height:33px; margin:-1px 0px 0px 0px; *margin:-5px 0px 0px 0px;  -margin:-10px 0px 0px 0px; background:url(../imagenes/estructura/sprite-principal-23.png) no-repeat; background-position:-632px -220px;}
.cont_columna_izq_3_fila_central2 #fondo_central_2 {position:relative; width:180px; margin:0px 0px 0px 0px; border:0px solid;  height:92px; *height:86px; -height:87px; background:url(../imagenes/estructura/sprite-principal-23.png) no-repeat; background-position:-632px -129px; *background-position:-632px -131px; -background-position:-632px -131px; border:0px solid;}

/*==========================================================================================================*/
/* FILA CENTRAL 2 -    SECCION LO ULTIMO  */
/*==========================================================================================================*/
.cont_columna_izq_4_fila_central2{position:relative; display:block; float:left; width:180px; -width:10px; height:200px; background:none; border-top:0px solid; margin:-25px 0px 0px -7px;  *margin:-8px 0px 0px 0px; -margin:-9px 0px 0px -2px;  padding:0; border:0px solid;  }
.cont_columna_izq_4_fila_central2 #fondo_arriba1 {position:relative; width:180px; height:33px; margin:-1px 0px 0px 0px; background:url(../imagenes/estructura/sprite-principal-23.png) no-repeat; background-position:-812px -104px;}
.cont_columna_izq_4_fila_central2 #fondo_central {position:relative; width:180px; margin:0px 0px 0px 0px;  height:200px; background:url(../imagenes/estructura/sprite-principal-23.png) no-repeat; background-position:-812px -129px; *background-position:-812px -133px; -background-position:-812px -129px;}

.cont_columna_izq_4_fila_central2 .fuente_modulos {font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#686868; text-decoration:none; margin:0px 0px 0px -8px;  *margin:0px 0px 0px -1px; -margin:0px 0px 0px -1px; height:10px; border:0px solid; width:135px; }

.cont_columna_izq_4_fila_central2 .fuente_modulos a {font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#686868; text-decoration:none; margin:0px 0px 0px 0px; height:10px; border:0px solid #000;}
.cont_columna_izq_4_fila_central2 .fuente_modulos a:hover {font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#686868; text-decoration:underline; margin:0px 0px 0px 0px; height:10px; }

/*==========================================================================================================*/
/* FILA CENTRAL 2 -   SECCION ENCUESTA  */
/*==========================================================================================================*/
.cont_columna_izq_5_fila_central2{position:relative; display:block; float:left; width:180px; height:222px; background:none; border-top:#FFFFFF 2px solid; margin:-6px 12px 0px 0px; *margin:-20px 0px 0px 0px; -margin:-24px 0px 0px -3px; padding:0;}

.cont_columna_izq_5_fila_central2 #fondo_arriba1 {position:relative; width:180px; height: 33px; margin: -1px 0px 0px 0px;  background:url(../imagenes/estructura/sprite-principal-23.png) no-repeat; background-position:-450px -104px;}

.cont_columna_izq_5_fila_central2 #fondo_central {position:relative; width:180px; height:75px; margin: 0px 0px 0px 0px; background:url(../imagenes/estructura/sprite-principal-23.png) no-repeat; background-position:-450px -168px; *background-position:-450px -168px; -background-position:-450px -170px;}

.cont_columna_izq_5_fila_central2 .fuente_modulos_encuesta {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight:normal; color:#686868; text-decoration:none; 	margin:0px 0px 0px -2px; z-index:400; text-align:left; }
.cont_columna_izq_5_fila_central2 .fuente_modulos_encuesta a {position: relative; display:block; float:left; font-family:Arial, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color:#ee2d1b; text-decoration:none; border: 0px solid; width: 50px; margin: -10px 0px 0px -25px;}
.cont_columna_izq_5_fila_central2 .fuente_modulos_encuesta a:hover {font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight: bold; color: #ee2d1b; text-decoration:none;}

.cont_columna_izq_5_fila_central2 .fuente_modulos_encuesta2 a {position: relative; display:block; float:left; font-family:Arial, Helvetica, sans-serif; font-size: 11px; font-weight:bold; color:#999999; text-decoration:none; text-align:center; border:0px solid;  width:80px; margin:-10px 0px 0px 0px; }
.cont_columna_izq_5_fila_central2 .fuente_modulos_encuesta2 a:hover {font-family: Arial, Helvetica, sans-serif; font-size:11px; font-weight: bold; color: #ee2d1b; text-decoration:none;}

#cont_publicidad_camp {position:absolute; display:block; float:left; width:178px; height:110px; border:0px solid; background:none; margin:5px 0px 0px -0px; *margin:3px 0px 0px -0px; -margin:3px 0px 0px -0px; padding:0px;}


/*==========================================================================================================*/
/* FILA CENTRAL 3 -   SECCION PIE DE PAGINA  */
/*==========================================================================================================*/
#contenedor_fila_central3{clear:both;}
#contenedor_pie_pagina{height:20px; background:none; border-top:#FFFFFF 0px solid; margin:0; padding:0; border:0px solid;}
#contenedor_pie_pagina #f_pie {position:relative; border:0px solid; width:991px; height:20px; margin:10px 0px 0px 0px; -margin:0px 0px 0px 0px;  top:0px; top:0px; background:url(../imagenes/estructura/sprite-principal-23.png) no-repeat; background-position:0px -70px; -background-position:0px -68px;}
#contenedor_pie_pagina #fuente_pie_de_pagina {position: relative; border: 0px solid; text-align: center; margin: -22px 0px 0px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #686868; z-index:500;}
#contenedor_pie_pagina #fuente_pie_de_pagina a {position: relative; border: 0px solid; text-align: center; text-decoration: none;  margin: -22px 0px 0px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #686868;}
#contenedor_pie_pagina #fuente_pie_de_pagina a:hover {text-decoration: underline; font-weight: normal; color: #ee2d1b}
#contenedor_pie_pagina #fuente_pie_de_pagina a:active,afterhover {	font-weight: normal; color: #686868;}
#contenedor_pie_pagina #cont_empleate a#persona1 {cursor: pointer; position: relative; display: block; float:right; width: 117px; height: 97px; margin: -96px 25px 0px 0px; background: url(../imagenes/personas_pie_pagina.png) no-repeat !important; background-image: none; filter: none !important; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader ( src ='./imagenes/personas_pie_pagina.png' );}

/*==========================================================================================================*/
/* ESTILOS CUADRO AJAX  */
/*==========================================================================================================*/
#content{width:334px; height:175px; padding:20px; #padding:9px; background:#fff; border:0px solid #CCC; margin:-1px 0px 0px 2px; #margin:5px 0px 0px 11px; -margin:0px 0px 0px 11px}
.clear{clear:both; line-height:1px; font-size:1px}
a{outline-color:#888}
/*<!-- Contenedor de las opciones -->*/
div#feature_list{width:374px; height:212px; -height:207px; *height:207px; overflow:hidden; position:relative; border:1px solid #CCC; margin:-20px 0px 0px -21px}
div#feature_list ul{position:absolute; top:0; list-style:none; padding:0; margin:0}
ul#tabs{left:0; z-index:2; width:132px}
ul#tabs li{font-size:12px; font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; height:53px; margin:0px 0px 0px 0px; -margin:-3px 0px 0px 0px; #margin:-3px 0px 0px 0px}
ul#tabs li img{padding:0px; border:none; float:left}
/*<!-- Boton sin seleccionar -->*/
ul#tabs li a{/*margin:0px 0px 0px 0px; #margin:0px 0px 0px 0px; border:0px solid #CCC; position:relative; -position:absolute; display:block; width:110px; height:53px; #width:110px; #height:53px; color:#FFF; text-decoration:none; background:url('../../librerias/marco_ajax_servicios/boton_sprite.png'); */margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; border:0px solid #CCC; position:absolute; display:block; width:110px; height:53px; color:#FFF; text-decoration:none; background:url('../../librerias/marco_ajax_servicios/boton_sprite.png')}
ul#tabs li a.texto_negritas{/*padding:20px 0px 0px 20px; -padding:20px 0px 0px 20px; margin:0px 0px 0px 0px; font-size:11px; font-weight:bold; text-transform:uppercase; */position:absolute; margin:0px 0px 0px 0px; padding:20px 0px 0px 20px; font-size:11px; font-weight:bold; text-transform:uppercase; height:53px}
ul#tabs li a:hover{height:53px; text-decoration:underline; cursor:default; background-position:0px -53px}
/*<!-- Boton Seleccionado en ese momento -->*/
/*
ul#tabs li a.current{height:53px; /*position:relative; *//*display:block; text-decoration:none; background-position:0px -53px; cursor:default; color:#FFF}
ul#tabs li a.current:hover{height:53px; text-decoration:underline; cursor:default; background-position:0px -53px}
*/
ul#tabs li a.current{height:53px; text-decoration:none; background-position:0px -53px; cursor:default; color:#FFF}
ul#tabs li a.current:hover{height:53px; text-decoration:underline; cursor:default; background-position:0px -53px}
/*<!-- Configuracion de las capas o imagenes a mostrar del lado derecho -->*/
ul#output{right:0; width:374px; height:240px; position:relative; margin:0px 0px 0px 0px; border:0px solid}
ul#output li{position:relative; #position:absolute; width:374px; height:240px; margin:0px 0px 0px 0px; border:0px solid}
ul #output #contenedor_descripcion ol li{position:relative; display:inline;  float:left; margin:0px 0px 0px 0px; border:1px solid}
ul#output li div#contenedor_descripcion{position:relative; bottom:35px; right:5px; width:230px; height:200px; border:0px solid; text-decoration:none; font-size:11px; color:#878585; font-weight:normal; margin:40px 0px 0px 140px; #margin:40px 0px 0px 143px}
ul#output li div#contenedor_descripcion span.titulo_ajax{position:relative; display:block; float:left; font-size:12px; color:#717171; font-weight:bold; text-decoration:none; text-align:left}
BR{position:relative; display:block; float:left; border:1px solid #900}
ul#output li div#contenedor_descripcion p{position:relative;  display:block;  float:left;  font-size:12px; font-weight:normal; text-align:left; color:#878585; text-decoration:none; padding-left:5px; padding-top:10px; padding-bottom:10px;  border:0px solid #900;  width:95%; font-style:normal}
ul#output li div#contenedor_descripcion a.link_parrafo_titulo{position:relative;  display:block;  float:left; font-size:12px; font-weight:bold; color:#717171; text-decoration:none; text-align:left; padding-bottom:0px}
ul#output li div#contenedor_descripcion a.link_parrafo_titulo:hover{position:relative;  display:block;  float:left; font-size:12px; font-weight:bold; color:#ff1e00; text-decoration:none; padding-bottom:0px; text-align:left}
ul#output li div#contenedor_descripcion a.link_parrafo_titulo:active, afterhover{position:relative;  display:block;  float:left; font-size:12px; font-weight:bold; color:#ff1e00; padding-bottom:0px; text-align:left}
ul#output li div#contenedor_descripcion a.link_parrafo{position:relative;  display:block;  float:left; font-size:12px; font-weight:normal; color:#8d8c8c; text-decoration:none; padding-bottom:0px; #width:220px; width:220px;  border:0px solid #900}
ul#output li div#contenedor_descripcion a.link_parrafo:hover{position:relative;  display:block;  float:left; font-size:12px; font-weight:normal; color:#ff1e00; text-decoration:none; padding-bottom:0px}
ul#output li div#contenedor_descripcion a.link_parrafo:active, afterhover{position:relative;  display:block;  float:left; font-size:12px; font-weight:normal; color:#8d8c8c; padding-bottom:0px}
ul#output li div#contenedor_descripcion div#separador_vertical_ajax{position:relative; display:block; float:left; width:220px; height:12px; *height:5px; -height:5px; border:0px solid #e4b2b2}

/*==========================================================================================================*/
/* ESTILOS MENU HORIZONTAL PRINCIPAL - PAGINA INCIO*/
/*==========================================================================================================*/
#topNav ul#mainNav li .subnav dl{text-align:left; line-height:0.6em; text-decoration:none; font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; font-size:12px; color:#898989; background:none}
#topNav ul#mainNav li .subnav dl dt{text-align:left; line-height:1.2em; font-weight:bold; text-decoration:none; font-size:1em; #font-size:0.92em}
#topNav ul#mainNav li .subnav dl dt a{color:#5e5e5e; text-decoration:none}
#topNav ul#mainNav li .subnav dl dd{text-align:left; line-height:1em; text-decoration:none; font-size:0.92em}
#topNav ul#mainNav li .subnav dl dd a{color:#777; text-decoration:none}
#topNav ul#mainNav li .subnav dl dd a:hover{color:#777; text-decoration:underline}
#topNav ul#mainNav li .subnav ul.subnavContent:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
#pageWrapper table, #pageWrapper #contentWrapper{margin:0 auto}
#masthead{width:991px}
.debug{clear:left; background:wheat; opacity:0.6; filter:alpha(opacity = 60); -moz-opacity:0.6}
#pageWrapper #header{padding:0 20px; width:991px; background:url(../imagenes/menus/nav-bg.png) bottom left repeat-x}
#topNav{float:left; position:absolute; z-index:400; padding:0px 0px; width:991px; margin:0px 0px 0px 0px; #margin:0px 0px 0px 0px; height:30px; background:url(../imagenes/menus/fondo_menu_ie6_prueba.png) no-repeat; border:0px solid}
#topNav ul{width:auto}
#topNav ul#mainNav{clear:both; padding-bottom:0px; width:800px; *width:800px; height:30px; border:0px solid; list-style-type:none}
#topNav ul li{float:left; padding:0px 0px 0px 0px; z-index:5001}
#topNav ul li a{display:block; height:32px}
#topNav ul#mainNav li{position:relative; margin:0px 0px 0px 2px; padding:0px 0px 0px 0px; height:30px; border:0px solid}
#topNav ul#mainNav li.inicio{width:60px; margin:0px 0px 0px -30px; *margin:0px 0px 0px 3px; background:url(../imagenes/menus/inicio-button.png) top left no-repeat; border:0px solid}
#topNav ul#mainNav li.inicio_current{margin:0px 0px 0px -30px; -margin:0px 0px 0px 5px; *margin:0px 0px 0px 5px; width:60px; background:url(../imagenes/menus/inicio-button.png) top left no-repeat; background-position:bottom left; border:0px solid}
#topNav ul#mainNav li.personas{margin:0px 0px 0px 0px; width:78px; background:url(../imagenes/menus/personas-button.png) top left no-repeat; border:0px solid}
#topNav ul#mainNav li.personas_current{margin:0px 0px 0px 0px; width:78px; background:url(../imagenes/menus/personas-button.png) no-repeat; background-position:bottom left}
#topNav ul#mainNav li.empresarios{width:100px; background:url(../imagenes/menus/empresarios-button.png) top left no-repeat; border:0px solid}
#topNav ul#mainNav li.empresarios_current{width:100px; background:url(../imagenes/menus/empresarios-button.png) no-repeat; background-position:bottom left}
#topNav ul#mainNav li.bprivada{width:110px; background:url(../imagenes/menus/bprivada-button.png) top left no-repeat; border:0px solid}
#topNav ul#mainNav li.bprivada_current{width:110px; background:url(../imagenes/menus/bprivada-button.png) no-repeat; background-position:bottom left}
#topNav ul#mainNav li.universitarios{margin:0px 0px 0px -4px; width:100px; background:url(../imagenes/menus/universitarios-button.png) top left no-repeat; border:0px solid}
#topNav ul#mainNav li.universitarios_current{margin:0px 0px 0px -4px; width:100px; background:url(../imagenes/menus/universitarios-button.png) no-repeat; background-position:bottom left}
#topNav ul#mainNav li.qsomos{width:115px; background:url(../imagenes/menus/qsomos-button2.png) top left no-repeat; border:0px solid}
#topNav ul#mainNav li.qsomos_current{width:115px; background:url(../imagenes/menus/qsomos-button2.png) no-repeat; background-position:bottom left}
#topNav ul#mainNav li.mapasitio{margin:0px 0px 0px -4px; width:110px; background:url(../imagenes/menus/mapasitio-button.png) top left no-repeat; border:0px solid}
#topNav ul#mainNav li.mapasitio_current{margin:0px 0px 0px -4px; width:110px; background:url(../imagenes/menus/mapasitio-button.png) no-repeat; background-position:bottom left}
#topNav ul#mainNav li:hover, #topNav ul#mainNav li.over{background-position:0px -30px}
#topNav ul#mainNav li a{position:relative; display:block; height:30px; cursor:pointer}
#topNav ul#mainNav li.hit{background-position:bottom left; padding-bottom:0}
#topNav ul#mainNav li:hover div.subnav, #topNav ul#mainNav li.over div.subnav{display:block}
#topNav ul#mainNav li div.subnav{display:none; position:absolute; #z-index:9999; top:30px; left:0px; padding:0px 0px 23px 0px; width:839px; background:url(../imagenes/menus/subnav-bottom.gif) #d6d5d5 bottom left no-repeat !important; border:0px solid #9b9999}
#topNav ul#mainNav li.inicio div.subnav{left:0px}
#topNav ul#mainNav li.inicio_current div.subnav{left:0px}
#topNav ul#mainNav li.personas div.subnav{left:0px}
#topNav ul#mainNav li.personas_current div.subnav{left:0px}
#topNav ul#mainNav li.empresarios div.subnav{left:-80px}
#topNav ul#mainNav li.empresarios_current div.subnav{left:-80px}
#topNav ul#mainNav li.bprivada div.subnav{left:-182px}
#topNav ul#mainNav li.bprivada_current div.subnav{left:-182px}
#topNav ul#mainNav li.universitarios div.subnav{left:-288px}
#topNav ul#mainNav li.universitarios_current div.subnav{left:-288px}

/*#topNav ul#mainNav li.qsomos div.subnav{left:-390px}
#topNav ul#mainNav li.qsomos_current div.subnav{left:-390px}
*/

#topNav ul#mainNav li.qsomos div.subnav{left:-294px}
#topNav ul#mainNav li.qsomos_current div.subnav{left:-294px}


#topNav ul#mainNav li.mapasitio div.subnav{}
#topNav ul#mainNav li.mapasitio_current div.subnav{}
#topNav ul#mainNav li div .subnavTop{padding-top:14px; width:839px; border:0px solid #9b9999; margin:0px 0px 0px 0px; list-style-type:none}
#topNav ul#mainNav li.inicio .subnav .subnavTop{background:url(../imagenes/menus/inicio-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.inicio_current .subnav .subnavTop{background:url(../imagenes/menus/inicio-subnav-top.gif) top left no-repeat}

#topNav ul#mainNav li.qsomos .subnav .subnavTop{background:url(../imagenes/menus/qsomos-subnav-top_3.gif) top left no-repeat}
#topNav ul#mainNav li.qsomos_current .subnav .subnavTop{background:url(../imagenes/menus/qsomos-subnav-top_3.gif) top left no-repeat}

#topNav ul#mainNav li.personas .subnav .subnavTop{background:url(../imagenes/menus/personas-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.personas_current .subnav .subnavTop{background:url(../imagenes/menus/personas-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.empresarios .subnav .subnavTop{background:url(../imagenes/menus/empresarios-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.empresarios_current .subnav .subnavTop{background:url(../imagenes/menus/empresarios-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.universitarios .subnav .subnavTop{background:url(../imagenes/menus/universitarios-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.universitarios_current .subnav .subnavTop{background:url(../imagenes/menus/universitarios-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.bprivada .subnav .subnavTop{background:url(../imagenes/menus/bprivada-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.bprivada_current .subnav .subnavTop{background:url(../imagenes/menus/bprivada-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.mapasitio .subnav .subnavTop{background:url(../imagenes/menus/mapasitio-subnav-top.gif) top left no-repeat}
#topNav ul#mainNav li.mapasitio_current .subnav .subnavTop{background:url(../imagenes/menus/mapasitio-subnav-top.gif) top left no-repeat}

#topNav ul#mainNav li .subnav ul.subnavContent li{
/*clear:both; margin:0; padding:0; width:839px; *width:840px; height:auto; border:0px solid #9b9999; margin:0px 0px 0px -38px; *margin:0px 0px 0px -1px; -margin:0px 0px 0px -3px; list-style-type:none*/
clear: both; margin: 0; padding: 0; width: 839px; *width: 840px; height: auto;
border: 0px solid #9b9999; margin:0px 0px 0px -38px; *margin:0px 0px 0px -1px; list-style-type: none;
border:0px solid;

}


#topNav ul#mainNav li .subnav dl{
/*float:left; margin:12px 0px 0px 8px !important; padding:0px 0px 0px 9px; #margin:12px 0px 0px 9px !important; -margin:12px 0px 0px 8px !important; #width:190px; width:190px; background:url(../imagenes/menus/subnav-title-bg3.gif) #fff 0px 0px no-repeat; border:0px solid*/
float:left; margin:12px 0px 0px 8px !important; padding:0px 0px 0px 9px;
*margin:12px 0px 0px 9px !important; -margin:12px 0px 0px 8px !important;  width:190px;
*width:199px;  background:url(../imagenes/menus/subnav-title-bg3.gif) #fff 0px 0px no-repeat;

}


#topNav ul#mainNav li .subnav dl dt{padding:4px 0 12px 6px}
#topNav ul#mainNav li .subnav dl dt a{height:1em}
#topNav ul#mainNav li .subnav dl dd{padding:0 0 6px 6px}
#topNav ul#mainNav li .subnav dl dd a{height:1%}
body, form, h1, h2, h3, h4, h5, h6, p, ul, ol, dd, fieldset{margin:0px; position}
.access{border:0px solid; display:none}
body{font-family: "Arial", "Nimbus Sans L", "Liberation Sans", "Verdana", "DejaVu Sans", sans-serif; background-color:#fff; text-align:center; font-size:18px;}
