@import '../core/main';

.config-wrapper {
  position: fixed;
  right: -200px;
  top: 40%;
  z-index: 20;
}

.config-wrapper-inner {
  position: relative;

  .config-trigger:hover, .config-trigger:focus {
    color: rgba(237, 34, 21, .9);
  }
}

.config-trigger {
  -moz-background-clip: padding;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 0;
  -webkit-background-clip: padding-box;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 0;
  background-clip: padding-box;
  background: #444444;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  color: #fff;
  display: block;  
  position: absolute;
  height: 42px;
  top: 47%;
  right: 200px;
  text-align: center;
  width: 42px;
  .fa {
    padding-top: 8px;
  }
}

.config-panel {
  -moz-background-clip: padding;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-background-clip: padding-box;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  background-clip: padding-box;
  background: #444444;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff;
  display: block;
  padding: 10px;
  position: absolute;
  top: 47%;
  right: 0;
  width: 200px;

  .btn-send-mailer {
    width: 180px;
  }
}
