@import '../core/main';

.main-orders {
  margin-bottom: 20px;
  margin-top: 20px;
}

.table-cs {
  thead {
    background-color: rgba(237, 34, 21, .7);
    color: white;
    tr > th {
      text-align: center;
    }
  }
  tbody {
    tr > td {
      text-align: center;

      .btn.btn-send-mailer {
        margin-bottom: 2px;
        padding: 4px 10px;
        width: 125px;
      }
      .green {
        background-color: rgba(66, 227, 66, .9);
      }
      .blue {
        background-color: rgba(51, 122, 183, .9);
      }
      .yellow {
        background-color: rgba(255, 215, 0, .8);
      }
      .grey {
        background-color: rgba(131, 131, 131, .8);
      }
    }
  }
}

.form-cs {
  input {
    margin-bottom: 8px;
  }

  select {
    margin: 0;
  }

  .controls {
    padding-bottom: 8px;

    input {
      margin: 0;
    }
  }
}

//modal
.bgn-modal {
  background-color: rgba(237, 34, 21, .7);
  color: white;
}

.modal-title-orders {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#mercado_pago_form, #bank_transfer {
  padding-top: 5px;

  .controls {
    padding-bottom: 8px;

    input {
      margin-top: 5px;
    }

    select {
      margin-top: 5px;
    }
  }
}

#modal_orders {
  .modal-body {
    padding-bottom: 0;
    padding-top: 0;
  }

  .modal-footer {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.error-modal {
  color: #ed2215;
  text-transform: uppercase;
}

.quantity {
  display: block;
  padding-bottom: 5px;
}

.banks-img {
  padding-top: 5px;
}

.banks-title {
    text-align: center;
  p {
    display: inline-block;
    font-weight: bold;
    margin: 0;
  }
}

.description-bank {
  text-align: center;
  .name {
    .t1 {
      font-weight: bold;
    }
  }
}