@import "../core/main";

.about{
	padding-top: 70px;

	.header-section{
		.subtitle-section{
		  margin-top: 0px;
		  font-weight: 300;
		  font-size: 2.4em;

		  @media #{$phone}{
		  	width: 100%;
		  	font-size: 1.6em;
		  }
		}
	}

	&-section{
		margin: 30px 0px;
		font-size: 1.3em;
		font-weight: 300;
		text-align: center;
	}

	&-content{
		margin: 30px 0px;
		text-align: justify;

	}

	&-organigrama{
		background: #3c3b3b;
		width: 100%;
		padding: 25px;
		text-align: center;
		color: white;
		.title-section{
			color: white;
		}
		.btn-section{
			margin-top: 15px;
			font-weight: bold;
			width: 200px;
			padding: 5px;
			background: rgba(237, 34, 21, 0.88);
			text-align: center;
			@include transition(.3s);
		}
		.btn-section:hover{
			color: white;
			background: #ed2215;
			@include transition(.3s);
		}
	}

	#organization-modal{
		.modal-content{
			.modal-body{
				padding: 0px;
			}
		}
	}
}