@import "../core/main";

#footer {
	margin-top: 120px;

	@media #{$phone-landscape}{
		margin-top: 35px;
	}

	.social {
		padding: 20px;


		@media #{$phone}{

			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}

		@media #{$phone-landscape}{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}

		@media #{$tablet-portrait}{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}

		@media #{$tablet-7}{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}

		@media #{$tablet-7-landscape}{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}

		&-title{
			color: #1a1a1a;
			font-size: 2em;
			font-weight: 700;
		}
		&-links{
			list-style-type: none;
			padding: 0px;
			li{
				display: inline-block;
				margin: 20px 5px 20px 0px;
				font-size: 1.7em;
				a{
					color: #1a1a1a;
					text-decoration: none;
					@include transition(.3s);
				}
				a:hover{
					color: #CC261B;
					@include transition(.3s);
				}
			}
		}
	}

	.img-footer{
		width: 300px;
	}

	.contact{
		text-align: right;
		padding: 20px;

		ul{
			@media #{$phone}{
				padding: 0;
			}

			@media #{$phone-landscape}{
				padding: 0;
			}

			@media #{$tablet-portrait}{
				padding: 0;
			}

			@media #{$tablet-7}{
				padding: 0;
			}

			@media #{$tablet-7-landscape}{
				padding: 0;
			}
		}

		@media #{$phone}{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}

		@media #{$phone-landscape}{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}

		@media #{$tablet-portrait}{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}

		@media #{$tablet-7}{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}

		@media #{$tablet-7-landscape}{
			text-align:center;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}


		&-title{
			color: #1a1a1a;
			font-size: 2em;
			font-weight: 700;
		}

		&-data{
			list-style-type: none;
			margin-top: 20px;
			li{
				font-size: 1.3em;
			}
		}
	}

	.credits{
		margin-top: 40px;
		color: white;
		background: #1a1a1a;
		position: relative;
		width: 100%;
		padding-top: 25px;
		padding-bottom: 25px;
		letter-spacing: 2px;
		font-size: 12px;
		font-weight: 700;

		@media #{$phone}{
			padding-top: 5px;
			height: 60px;
		}

		@media #{$phone-landscape}{
			padding-top: 15px;
		}


		.slice{
			font-size: 14px;


			img{
				width: 60px;
				display: inline-block;
				position: relative;
				top: -5px;
			}
		}
		.muffin{
			position: absolute;
			right: 40px;
			text-align:center;

			@media #{$phone}{
				@include display-flexbox;
				@include align-items(center);
				@include justify-content(center);
				@include flex-direction(column);
			}

			img{
				width: 80px;
				display: inline-block;
				position: relative;
				top: -3px;

				@media #{$phone}{
					top: 0;
					left: -2%;	
					
				}
			}
		}
	}

	.modal-dialog {
		input{
			margin-bottom: 10px;
		}

		textarea{
			margin-bottom: 10px;
		}

		.btn-primary {
			width: 50%;
			margin-top: 20px;
			border-radius: 5px;
			background: rgba(237, 34, 21, 0.88);
			color: white;
			font-weight: 700;
			letter-spacing: 2px;
			border: none;
		}
	}
}