@import "../core/main";

.no-padding {
  padding: 0;
}

.gallery {
  padding: 70px 80px;

  @media #{$phone}{
    padding: 70px 30px;
  }

  @media #{$phone-landscape}{
    padding: 70px 30px 0;
  }

  @include tablet-7-all {
    padding: 70px 30px 0;
  }

  @media #{$tablet-portrait} {
    padding: 70px 30px 0;
  }

  .btn-option-gallery {
    background: rgba(237, 34, 21, 0.88);
    border-radius: 0;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 10px;
  }

  #option-fotos {
    float: right;
    margin-right: 10px;

    @media #{$phone}{
      margin-bottom: 15px;
    }

    @include tablet-7-all {
      margin-bottom: 15px
    }

    @media #{$phone-landscape}{
      margin-bottom: 15px;
    }

    @media #{$tablet-portrait} {
      margin-bottom: 15px;
    }
  }

  #option-videos {
    float: left;

    @media #{$phone}{
      margin-bottom: 15px;
    }

    @media #{$phone-landscape}{
      margin-bottom: 15px;
    }

    @include tablet-7-all {
      margin-bottom: 15px;
    }

    @media #{$tablet-portrait} {
      margin-bottom: 15px;
    }
  }

  #parcial-gallery {
    padding: 0;

    @media #{$phone}{
      padding: 0;
    }

    @media #{$phone-landscape}{
      padding: 0;
    }

    @include tablet-7-all {
      padding: 0;
    }

    @media #{$tablet-portrait} {
      padding: 0;
    }

    .img-gallery {
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 10px;
      height: 200px;

      @media #{$phone}{
        margin-bottom: 10px;
        padding-right: 0;
        width: 100%;
      }

      @media #{$phone-landscape}{
        margin-bottom: 10px;
        padding-right: 0;
        width: 65%;
      }

      @include tablet-7-all {
        margin-bottom: 10px;
        padding-right: 0;
        width: 95%;
      }

      @media #{$tablet-portrait} {
        margin-bottom: 10px;
        padding-right: 0;
        width: 95%
      }
    }

    .modal {
      @include tablet-7-all {
        margin-top: 100px;
      }

      @media #{$tablet-portrait} {
        margin-top: 80px;
      }

      .modal-content {
        background: transparent;
        box-shadow: none;
        border: 0px solid transparent;
        img {
          @media #{$phone-landscape}{
            width: 75%;
          }
        }
      }   
    }
  }

  iframe {
    width: 100%;

    @media #{$phone}{
      width: 100%;
    }

    @media #{$phone-landscape}{
      width: 100%;
    }

    @include tablet-7-all {
      width: 100%;
    }

    @media #{$tablet-portrait} {
      width: 100%;
    }
  }
}

.padng-top {
  padding-top: 20px;
}

.grid-item {
  border: 0;
  padding: 10px 10px;
  position: relative;
}

.mask {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  border: 0;

  &:hover {
    @include transition(all .7s ease);
    background-color: rgba(237, 34, 21, .7);
    span {
      @include transition(all .7s ease);
      opacity: 1;
    }
  }
}

.item-img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mask>span {
  opacity: 0;
  z-index: 2;
  font-size: 3.5rem;
  color: white;
}

.modal-image {
  padding: 0!important;
  text-align: center;
}

.modal-image::before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
}

.modal-image>.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;

  .modal-title {
    font-size: 4rem;
    padding: 15px 0;
  }
}

.img-modal {
  height: 100%;
  width: 100%;
}
