// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../core/main";

#home {
	height: 100vh;
	background: image-url("frontend/home-bg.jpg") no-repeat fixed;
	background-size: cover;
	background-position: center;
	color: white;

	@media #{$phone-landscape}{
		background-position-y: 40px;
	}

	.content{
		width:100%;
		height: 100%;
		position: absolute;
		top: 0px;
		color: white;
		z-index: 1;
		text-align:center;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		.title{
			width: 100%;
			margin: 0px;
			letter-spacing: 15px;
			font-size: 8em;
			font-weight: 700;

			@media #{$phone}{
				font-size: 2.5em;
				letter-spacing: 5px;
			}

			@media #{$phone-landscape}{
				font-size: 3em;
				letter-spacing: 5px;
			}

			@media #{$tablet-portrait}{
				font-size: 6em;
				letter-spacing: 5px;
			}

			@media #{$tablet-7}{
				font-size: 3.5em;
				letter-spacing: 5px;
			}
		}
		.subtitle{
			width: 100%;
			margin: 0px;
			letter-spacing: 5px;
			font-size: 3em;
			font-weight: 700;
			position: relative;

			@media #{$phone}{
				margin-top: 10px;
				font-size: 1.5em;
				letter-spacing: 4px;
			}

			@media #{$phone-landscape}{
				font-size: 1.5em;
			}

			@media #{$tablet-7}{
				font-size: 3.5em;
				letter-spacing: 5px;
			}

			img{
				margin-top: 10px;
				display: inline-block;
			}
		}
	}

	.banner-buy-card {
		background: rgba(30, 33, 33, .3) 1%;
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 15px;

		p {
			margin-bottom: 5px;
		}

		&-text {
			text-align: center;
			display: inline-block;
			margin-right: 5%;
			font-size: 18px;
			padding-top: 5px;
		}

		button {
			display: inline-block;
			margin: 0;
		}
	}
}

#home::after{
	background-color: rgba(0, 0, 0, 0.50);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}