@import "../core/main";

.how{
	padding-top: 70px;
	text-align: center;

	.container{
		.header-section{
			.title-section{}
			.subtitle-section{
				@media #{$phone}{
					width: 100%;
				}
			}
		}
	}

	.how-section{
		width: 85%;

		@media #{$phone}{
		  	width: 100%;
		 
		}

		&-content{
			&-link{
				text-decoration: none;
				color: #1a1a1a;
				@include transition(.3s);
			}
			&-link:hover{
				color: #CC261B;
				.how-section-content-image{
					@include animate(pulse, .3s);
				}				
			}
			&-image{
				img{
					width: 300px;
				}
			}
			&-text{
				text-align: center;
				font-size: 1.5em;
				font-weight: 700;

				@media #{$phone}{
					font-size: 1.2em;
				}
			}
		}
	}
}