@import "../core/main";

html, body {
 height: 100%;
 font-family: $roboto;
 color: #1a1a1a;
}

.btn-send-mailer{
  border-radius: 0px;
  background: rgba(237, 34, 21, 0.88);
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 4px;
}

.btn-send-mailer:hover {
  color: #fff;
}

.hr-half{
  display: none;
}

// override for the 'Home' navigation link

.header-section{
  text-align: center; 
  
  .title-section{
    font-weight: 700;
    font-size: 2.5em;

    @media #{$phone}{
     font-size: 1.8em;
    }
  }

  .image-section{
      margin: 15px 0px;
    }

  .subtitle-section{
    margin: auto;
    width: 45%;
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 20px;

    @media #{$phone-landscape}{
      width: 80%;
    }

    @media #{$tablet-portrait}{
      width: 70%;
    }
  }
}

.form-inline-default{
  margin: auto;
  margin-top: 50px;
  text-align: center;

  .form-control{
    background: rgba(128, 128, 128, 0.28);
    border-radius: 0px;
    width: 100%;
  }

  .btn-send{
    width: 100%;
    border-radius: 0px;
    background: rgba(237, 34, 21, 0.88);
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
  }
}

#nprogress {
  .spinner{
    z-index: 999999;
    top: 15px;
  }

  .spinner-icon {
    border: solid 3px transparent;

    border-top-color: #29d;
    border-left-color: #29d;

    width: 40px;
    height: 40px;
  }
}