@import "../core/main";

.title-app {
  font-size: 3rem;
  padding: 10px;
  color: white;
  background-color: rgba(237, 34, 21, .7);
}

.no-mrgn {
  margin: 0;
}

.flex-parent {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  padding-top: 30px;
}

.flex-parent> .flex-item {
  @include flex(1);
  width: 50%;
  background-color: #EEEEEE;
}

.body-form {
  padding: 15px;
}

.form-group {
  margin-bottom: 20px;
  font-size: 1.3rem;
  label {
    margin-bottom: 5px;
  }
}

.controls {
  padding-bottom: 12px;
  .help-inline {
    color: rgba(237, 34, 21, 1);
    text-transform: uppercase;
  }
}

.input-register {
  margin-top: 10px;
  margin-bottom: 5px;
}

.input-icon {
  position: relative;

  .fa {
    position: absolute;
    color: #555;
    opacity: 0.6;
    border-right: 1px solid #ccc;
    padding: 8px 12px;
  }

  input {
    padding-left: 60px;
  }
  select {
    padding-left: 60px;
  }
}

.input-cs {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  color: #555;
  display: block;
  font-size: 18px;
  height: 43px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s,box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.footer-form {
  .password-recoverable {
    a {
      font-size: 1.4rem;  
    }
  }
  .btn-cs {
    padding: 10px 0 20px;
    .btn {
      background-color: rgba(237, 34, 21, .7);
      color: white;
      font-size: 2rem;
    }
  }
}

.btn-rs {
  margin: 20px 0;
  background-color: rgba(237, 34, 21, .7);
  color: white;
  font-size: 2rem;
}

#juridica-form {
  padding: 0 15px;
}

#natural-form {
  padding: 0 15px;
}

#juridica-profile {
  padding: 0 15px;
}

#natural-profile {
  padding: 0 15px;
}

.term-modal {
  .modal-header {
    background-color: rgba(237, 34, 21, .7);
    color: white;
  }
  .modal-body {
    max-height: 420px;
    overflow-y: auto;
  }
}
