@import "../core/main";

#front-navbar-mobile {
  padding-top: 35px;
  .logo-short {
    padding-bottom: 10px;
    padding-left: 8px;
  }

  .collapse.navbar-collapse {
    
    .nav.navbar-nav {
      float: none;
      li {

        @include respond_to(md) {
          @include transition(all .3s ease);
          font-size: 14px;
        }

        @include respond_to(sm) {
          @include transition(all .3s ease);
          font-size: 8px;
        }
      }
    }
  }
}

#front-navbar{ 
  font-weight: bold;
  padding: 30px 0px 20px 0px;
  font-size: 14px;
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
  @include transition(.2s);
  .container{
    width: 95%;
  }
  li {
    a{
      color:white;
      @include transition(.3s);
    }

    a:hover{
      color: rgba(237, 34, 21, 0.88);
      @include transition(.3s);
    }
  }

  .current{
    a{
      color: rgba(237, 34, 21, 0.88);
    }
  }

  
  .link-socials{
    a{
      color: white !important;
      text-decoration: none;
      font-size: 30px;
      @include transition(.3s);
      margin: 0px 4px;
    }
    a:hover{
      color: #CC261B !important;
      @include transition(.9s);
    }
  }

  .navbar-header{
    .logo-transfalcon-home{

      position: absolute;

      @media #{$desktop-large}{
        top: 5px;
      }

      img{
        width: 20%;
        float: left;
      }
    }
  }
}

.navbar-hide{
  background-color: transparent;
}

li.dropdown {
  a {
    color: rgba(237, 34, 21, .88) !important;
    padding: 8px;
  }
}

.dropdown {
  background: white;
  color: rgba(237, 34, 21, .88);

  &:hover, &:focus, &:visited, &:active {
    color: white;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(237, 34, 21, .88);
  color: white !important;
}

a.dropdown-toggle {
  .fa {
    font-size: 2.7rem;
  }
}

.dropdown-user {
  right: 0;
  left: auto;

  li {
    padding: 3px;
  }

  li.divider {
    padding: 0;
  }
}
