@import "../core/main";

#news{
	.banner{
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;

		@media #{$phone}{
			margin: 0;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		@media #{$phone-landscape}{
			margin: 0;
			margin-top: 10px;
			margin-bottom: 0px;
		}

		#logo-ministerio{
			@media #{$phone}{
				position: relative;
				top: 5px;
			}
		}

		#logo-gobernacion{
			@media #{$phone}{
				width: 65%;
				display: none;
			}

			@media #{$phone-landscape}{
				display: none;
			}

			@media #{$tablet-portrait}{
				width: 32%;
			}

			@media #{$tablet-7}{
				display: none;
			}

			@media #{$desktop-large}{
				width: 28%;

			}
		}
	}
	.container{
		width: 100%;

	}
	.post{
		padding: 0px;
		margin: 0;
		overflow: hidden; 

		&-image{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;

			.post-title{
				@include transition(.1s);
				width: 100%;
				height: 70px;
				position: absolute;
				bottom: -30px;
				text-align: center;
				background: rgba(0, 0, 0, 0.7);

				@media #{$phone}{
					bottom: 0px;
				}

				@media #{$phone-landscape}{
					bottom: 0px;
					height: 85px;
				}

				@media #{$tablet-portrait}{
					bottom: 0;
				}

				p{
					margin: 0px;
					color: white;
					font-weight: 500;
					text-overflow:ellipsis;
  					white-space:nowrap;
  					padding: 10px 25px;
  					overflow: hidden;

					@media #{$phone}{
						font-size: 14px;
					}

					@media #{$tablet-portrait}{
						font-size: 18px;
						padding: 5px;
					}
				}

				.link-blog{
					text-decoration: underline;
					font-weight: bold;
					padding: 0px;
				}
			}
		}

		&-image-2{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;

			@media #{$phone}{
				
			}

			.post-title{
				@include transition(.1s);
				width: 100%;
				height: 70px;
				position: absolute;
				bottom: -30px;
				text-align: center;
				background: rgba(0, 0, 0, 0.7);

				@media #{$tablet-portrait}{
					bottom: 0;
				}

				p{
					margin: 0px;
					color: white;
					font-weight: 500;
					text-overflow:ellipsis;
  					white-space:nowrap;
  					padding: 10px 25px;
  					overflow: hidden;

					@media #{$phone}{
						font-size: 14px;
					}

					@media #{$tablet-portrait}{
						font-size: 18px;
						padding: 5px;
					}
				}

				.link-blog{
					text-decoration: underline;
					font-weight: bold;
					padding: 0px;
				}
			}
		}

		&-image-3{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;

			@media #{$phone}{
				
			}

			.post-title{
				@include transition(.1s);
				width: 100%;
				height: 70px;
				position: absolute;
				bottom: -30px;
				text-align: center;
				background: rgba(0, 0, 0, 0.7);

				@media #{$tablet-portrait}{
					bottom: 0;
				}

				p{
					margin: 0px;
					color: white;
					font-weight: 500;
					text-overflow:ellipsis;
  					white-space:nowrap;
  					padding: 10px 25px;
  					overflow: hidden;

					@media #{$phone}{
						font-size: 14px;
					}

					@media #{$tablet-portrait}{
						font-size: 18px;
						padding: 5px;
					}
				}

				.link-blog{
					text-decoration: underline;
					font-weight: bold;
					padding: 0px;
				}
			}
		}

		&-image-4{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;

			.post-title{
				@include transition(.1s);
				width: 100%;
				height: 70px;
				position: absolute;
				bottom: -30px;
				text-align: center;
				background: rgba(0, 0, 0, 0.7);

				@media #{$tablet-portrait}{
					bottom: 0;
				}

				p{
					margin: 0px;
					color: white;
					font-weight: 500;
					text-overflow:ellipsis;
  					white-space:nowrap;
  					padding: 10px 25px;
  					overflow: hidden;

					@media #{$phone}{
						font-size: 14px;
					}

					@media #{$tablet-portrait}{
						font-size: 18px;
						padding: 5px;
					}
				}

				.link-blog{
					text-decoration: underline;
					font-weight: bold;
					padding: 0px;
				}
			}
		}
	}



	.post:hover{

		.post-image{

			.post-title{
				bottom: 0px;
				@include transition(.1s);
			}
		}

		@media #{$phone}{
			.post-image{

				.post-title{
					bottom: 0px;
					@include transition(.1s);
				}
			}	
		}
	}

	.post-image-2:hover{
		.post-title{
			bottom: 0px;
			@include transition(.1s);
		}
		
	}

	.post-image-3:hover{
		.post-title{
			bottom: 0px;
			@include transition(.1s);
		}	
	}

	.post-image-4:hover{
		.post-title{
			bottom: 0px;
			@include transition(.1s);
		}	
	}
}