@import "../core/main";


#refills-center{
	padding-top: 70px;
}

.container-render-center{
	padding-top: 70px;

	@media #{$phone}{
		padding-top: 0px;
		margin-bottom: 30px;
	}
}

.container{
		.header-section{
			.subtitle-section{
				@media #{$phone}{
					width: 100%;
				}
			}
		}

	#riffils_center_municipality_select, #riffils_center_sector_select, #riffils_center_sector_center{
			@media #{$phone}{
				margin-bottom: 10px;
			}

			@media #{$phone-landscape}{
				margin-bottom: 5px;
			}

			@media #{$tablet-portrait}{
				margin-bottom: 5px;
			}

			@media #{$tablet-7}{
				margin-bottom: 5px;
			}
		}
	}

.container-center{
	padding: 5% 9% 0 9%;
	height: 460px;

	@media #{$phone}{
		padding: 2% 9% 0 9%;
	}

	@media #{$tablet-7}{
		height: 635px;
	}

	@media #{$tablet-7-landscape}{
		height: 635px;
	}

	@media #{$tablet-portrait}{
		height: 685px;
	}

	.panel{

		height: 505px;
		border-color: rgba(237, 34, 21, 0.88);

		@media #{$phone}{
			height: 600px;
		}

		@media #{$phone-landscape}{
		 	height: 550px;
		}

		@media #{$tablet-7}{
			height: 735px;
		}

		@media #{$tablet-7-landscape}{
			height: 695px;
		}

		@media #{$tablet-portrait}{
			height: 732px;
		}	

		.panel-heading{
			background-color: rgba(237, 34, 21, 0.88);
			border-color: rgba(237, 34, 21, 0.88);
		}

		.panel-body{
			padding: 0;
				font-size: 1.2em;
			.container-center-info{

				.col-info{
					padding: 20px 0px;
				
				

					label{
						text-decoration: underline;
					}

				}

				iframe{
					width: 100%;
			    height: 460px;
			    margin-top: 0px;
			    position: absolute;

				    @media #{$phone}{
				    	height: 303px;
				    }

				    @media #{$phone-landscape}{
						height: 277px;
						width: 99.5%;
				    }

				    @media #{$tablet-7-landscape}{
						height: 423px;
					}
				}
			}
		}
	}
}