@import "../core/main";


#road-transports{
	padding-top: 70px;
}

.container-render-road{
	padding-top: 70px;

	@media #{$phone}{
		padding-top: 0px;
		margin-bottom: 30px;
	}
}

.container{
	.header-section{
		.subtitle-section{
			@media #{$phone}{
				width: 100%;
			}
		}
	}

	#riffils_center_municipality_select2, #riffils_center_sector_select2, #riffils_center_sector_road{
		@media #{$phone}{
			margin-bottom: 10px;
		}

		@media #{$phone-landscape}{
			margin-bottom: 5px;
		}

		@media #{$tablet-portrait}{
			margin-bottom: 5px;
		}

		@media #{$tablet-7}{
			margin-bottom: 5px;
		}
	}
}

.container-road{
	padding: 5% 9% 0 9%;

	@media #{$phone}{
		padding: 2% 9% 0 9%;
	}

	.panel{

		border-color: rgba(237, 34, 21, 0.88);

		@media #{$phone}{
			height: 900px;
		}

		@media #{$phone-landscape}{
			height: 850px;
		}

		@media #{$tablet-7}{
			height: 980px;
		}

		@media #{$tablet-7-landscape}{
			height: 975px;
		}

		@media #{$tablet-portrait}{
			height: 968px;
		}

		.panel-heading{
			background-color: rgba(237, 34, 21, 0.88);
			border-color: rgba(237, 34, 21, 0.88);
		}

		.panel-body{
			padding: 0;
			
			.container-road-info{

				.col-info{

					padding-top: 20px;

					p{
						font-size: 20px;
					}

					label{
						text-decoration: underline;
					}
				}

			iframe{
				width: 96.5%;
			    height: 515px;
			    margin-top: 0px;
			    position: absolute;


				    @media #{$phone}{
						width: 91%;
			    		height: 395px;
					}

					@media #{$phone-landscape}{
						width: 94%;
			    		height: 345px;
					}

					@media #{$tablet-7}{
						height: 475px;
						width: 94%;
					}

					@media #{$tablet-7-landscape}{
						height: 470px;
					}

					@media #{$tablet-portrait}{
						width: 95.5%;
					}

				}
			}
		}
	}
}

