.wrapper
  .wrapper-body.container
    .actions
      = link_to orders_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .wrapper-inputs
      .card
        = simple_form_for @order do |f|
          .row
            = f.input :quantity
            = f.input :price
            = f.association :user
            = f.input :code
            = f.input :status
            = f.association :product

            .form-actions.right
              = f.button :submit, "Guardar", class: "btn"