.listing-show-header
  .actions
    - if can? :update, Order
      = link_to edit_order_path(@order), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
        = material_icon.md_24.create
  %h5
    = material_icon.md_24.account_circle.css_class("md-light") 
    = t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
  %ul.list
    %li.list-row
      .display-label= t("model.#{controller_name.singularize}.attributes.status")
      .display-value= @order.status
    %li.list-row
      .display-label= t("model.#{controller_name.singularize}.attributes.code")
      .display-value= @order.code
    %li.list-row
      .display-label= t("model.#{controller_name.singularize}.attributes.email")
      .display-value= @order.user.email
    %li.list-row
      .display-label= t("model.#{controller_name.singularize}.attributes.name")
      .display-value= @order.user.name
    %li.list-row
      .display-label= t("model.#{controller_name.singularize}.attributes.identification")
      .display-value= @order.user.identification
    %li.list-row
      .display-label= t("model.#{controller_name.singularize}.attributes.quantity")
      .display-value= "#{@order.quantity} Unidadad(es)"
    %li.list-row
      .display-label= t("model.#{controller_name.singularize}.attributes.price")
      .display-value= "Total: BsF. #{@order.price}"
    %li.list-row
      .display-label= t("model.#{controller_name.singularize}.attributes.payment.type_payment")
      .display-value= @order.payment.type_payment
    - if @order.payment.type_payment.eql?('Mercado Pago')
      %li.list-row
        .display-label= t("model.#{controller_name.singularize}.attributes.payment.mp_codecode")
        .display-value= @order.payment.mp_code
    - else
      %li.list-row
        .display-label= t("model.#{controller_name.singularize}.attributes.payment.transfer_bank")
        .display-value= @order.payment.transfer_bank
      - if @order.payment.transfer_account
        %li.list-row
          .display-label= t("model.#{controller_name.singularize}.attributes.payment.transfalcon_account")
          .display-value= @order.payment.transfer_account
      %li.list-row
        .display-label= t("model.#{controller_name.singularize}.attributes.payment.transfer_code")
        .display-value= @order.payment.transfer_code
      %li.list-row
        .display-label= t("model.#{controller_name.singularize}.attributes.payment.transfer_date")
        .display-value= @order.payment.transfer_date.strftime("%d/%m/%Y")

:javascript
  $(".modal-trigger").leanModal();
  $('.tooltipped').tooltip({delay: 1});
