= simple_form_for(@order, url: create_orders_path ,wrapper: :bootstrap) do |f|
  #modal_orders.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header.bgn-modal
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4.modal-title-orders
            Nuevo Pedido
        .modal-body
          .content
            .body-form
              .row
                .col-md-7
                  = image_tag"frontend/how-1.png", class: "responsive", size: "200x200"
                  #description-bank
                    .description-bank
                      .name
                        %p.t1 A Nombre de:
                        %p Sistema de Transporte Superficial del Estado Falcon
                      .rif
                        Rif: G-20011020-1
                    .banks-img
                      = link_to "http://www.bancodevenezuela.com/", target:"_blank" do
                        = image_tag"frontend/banco_venezuela.jpg", class: "responsive", size: "120x120"
                      .banks-title
                        %p Cta Cte:
                        %p 0102-0359-77-0000240475
                    .banks-img
                      = link_to "http://www.bod.com.ve/", target:"_blank" do
                        = image_tag"frontend/banco_bod.png", class: "responsive", size: "60x60"
                      .banks-title
                        %p Cta Cte:
                        %p 0116-0259-29-0022905464   
                .col-md-5.form-cs
                  =f.input :quantity, label: "Cantidad", input_html: {id: "quantity", min: 1, class: "form-control input-register", max: "#{@product.quantity}" }, autofocus: true, wrapper: false
                  %span.quantity
                    - @product.quantity
                  :javascript
                    $('#quantity').bind('change', function (e) {
                      var order_price = "#{@product.price}"
                      $('#order_price').val($(this).val()*order_price)
                    });

                  = f.input :price, label: "Precio Total", input_html: { class: "form-control input-register" }, autofocus: true, wrapper: false, readonly: true
                  = f.simple_fields_for :payment do |m|
                    = m.input :type_payment, label: "Tipo de Pago", collection: ["Transferencia Bancaria", "Mercado Pago"], input_html: {class: "form-control input-register"}, autofocus: true, wrapper: false, include_blank: false

                    #bank_transfer
                      = render "orders/type_payment/bank_transfer", m:m
                    #mercado_pago_form
                      = render "orders/type_payment/mercado_pago", m:m

                    :javascript
                      $("#mercado_pago_form").hide();
                      $( "#order_payment_attributes_type_payment" )
                        .change(function () {
                          var str = "";
                          $( "#order_payment_attributes_type_payment option:selected" ).each(function() {
                            str += $( this ).text();
                          });
                          if (str == "Mercado Pago"){
                            $("#mercado_pago_form").show();
                            $("#bank_transfer").hide();
                            $('#description-bank').hide();
                          }
                          if (str == "Transferencia Bancaria"){
                            $("#bank_transfer").show();
                            $('#description-bank').show();
                            $("#mercado_pago_form").hide();
                          }
                        })
                      .change();

        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button", class: "btn btn-rs pull-left"} Cancelar
          = f.submit "Ordenar Pedido", class: 'btn-rs pull-right btn'
- if @order.errors.any?
  :javascript
    $("#modal_orders").modal('show');
