= title "Orders | #{@order.id}"
.wrapper
  .wrapper-body.container
    .actions
      - if can? :delete, Order
        = link_to order_path(@order), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
          = material_icon.md_18.delete.css_class("md-dark") 
      - if can? :update, Order
        = link_to edit_order_path(@order), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
          = material_icon.md_18.create.css_class("md-dark")
      = link_to orders_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
        = material_icon.md_18.arrow_back.css_class("md-dark")
      = link_to "Enviar Recibo", send_receipt_path(@order.id), class: "btn waves-effect waves-light right"
    .card
      .row
        .col.s7.push-s5
          = image_tag "http://transfalcon.com.ve/assets/frontend/transfalcon-15bf4be4698a66db2eb2cc61795dfea7a625738bb9968b1b4adc890f16047caf.png", width: 300;
          .title
            %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
              Nombre: 
              %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                = @order.user.name
          .title
            %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
              Email:
              %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                = @order.user.email
          .title
            %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
              Identificación:
              %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                = "#{@order.user.type_rif}-#{@order.user.identification}"
          - if @order.user.identification.eql?('Juridica')
            .title
              %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
                Persona de Contacto:
                %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                  = @order.user.contact
          .title
            %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
              Dirección:
              %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                = @order.user.address
          .title
            %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
              Telefono 1:
              %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                = @order.user.phone1
          .title
            %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
              Telefono 2:
              %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                = @order.user.phone2
        .col.s5.pull-s7
          %h1.flow-text.right-align{style: "height: 16px; font-weight: bold; color: rgba(237, 34, 21, .7);"}
            Recibo N#
            = @order.code
          .title
            %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
              Tipo de Pago:
              %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                = @order.payment.type_payment
          - if @order.payment.type_payment.eql?('Mercado Pago')
            .title
              %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
                Codigo de Mercado Pago:
                %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                  = @order.payment.mp_code
          - else
            .title
              %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
                Codigo de Transferencia:
                %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                  = @order.payment.transfer_code
            .title
              %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
                Fecha de Transferencia:
                %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                  = @order.payment.transfer_date
            .title
              %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
                Banco Remitente:
                %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                  = @order.payment.transfer_bank
            .title
              %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
                Cuenta Transfalcon:
                %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
                  = @order.payment.transfer_account

      %table.striped.responsive-table.centered
        %thead{style: "background-color: rgba(237, 34, 21, .7); color: white;"}
          %tr
            %th Producto
            %th Cantidad
            %th Fecha de Pedido
            %th Precio Unitario
            %th Precio Total
            - if !@order.status.eql?("Pendiente")
              %th Estatus
        %tbody
          %tr
            %td
              = @order.product.name
            %td
              = "#{@order.quantity} unidad(es)"
            %td
              = @order.created_at.strftime("%d-%m-%Y")
            %td
              = "BsF #{@order.product.price}"
            %td
              = "BsF #{@order.price}"
            - if !@order.status.eql?("Pendiente")
              %td
                = @order.status
      - if @order.status.eql?("Pendiente")
        .row
          .col.s8.right-align{style: "padding-right: 0;"}
            %h3{style: "font-weight: bold; font-size: 15px; margin-top: 30px;"}
              Estatus del Pedido
          .col.s4{style: "padding: 0;"}
            = simple_form_for @order, url: change_status_path(@order), html: { id: "change_status_form", method: "put" } do |f|
              = f.input :status, collection: ["Pendiente", "Aprobada", "Rechazada"], selected: "#{@order.status}", include_blank: false, label: false, input_html: {style: "display: block;", onchange: "$('#change_status_form').submit()"}