.container.main-orders
  .row
    .col-md-6
      %button.btn.btn-send-mailer{"data-target" => "#modal_orders", "data-toggle" => "modal", :type => "button"} Nueva Orden
  .row
    - if @orders
      .col-lg-12
        %h2
          Lista de Ordenes
      .col-lg-12
        %table.table.table-striped.table-cs{"data-sort-name" => "name", "data-sort-order" => "desc"}
          %thead
            %tr
              %th
              %th Código
              %th Estatus
              %th Cantidad
              %th Total
              %th Fecha de Creación
              %th Tipo de Pago
              %th Acciones
              %th

          %tbody
            - @orders.each do |order|
              %tr
                %td
                %td= order.code 
                %td= order.status
                %td= order.quantity
                %td= "BsF #{order.price}"
                %td= order.created_at.strftime("%d/%m/%Y - %H:%M:%S")
                %td
                  - if order.payment.type_payment.eql?("Mercado Pago")
                    = image_tag "frontend/iso-mercadopago.png", size: "32x28"
                  - else
                    .fa.fa-university.fa-2x
                %td
                  - if order.status.eql?("Aprobada")
                    = link_to "Enviar Recibo", send_receipt_path(order.id), class: "btn btn-send-mailer green"
                  - elsif !order.transfer? && order.status.eql?("Pendiente")
                    - if order.in_stock?
                      = link_to "Por Pagar", validate_payment_path(order), class: "btn btn-send-mailer blue"
                    - else
                      %button.btn.btn-send-mailer.grey.disabled
                        No hay Stock
                  - elsif order.transfer? && order.status.eql?("Pendiente")
                    %button.btn.btn-send-mailer.yellow.disabled
                      Pendiente
                  - else
                    %button.btn.btn-send-mailer.disabled
                      Rechazada
                %td
= render 'modal_orders'