= m.input :transfer_bank, label: "Nombre del Banco", collection: ["100%BANCO","ABN AMRO BANK","BANCAMIGA BANCO MICROFINANCIERO, C.A.","BANCO ACTIVO BANCO COMERCIAL, C.A.","BANCO AGRICOLA","BANCO BICENTENARIO","BANCO CARONI, C.A. BANCO UNIVERSAL","BANCO CENTRAL DE VENEZUELA.","BANCO DE DESARROLLO DEL MICROEMPRESARIO","BANCO DE VENEZUELA S.A.I.C.A.","BANCO DEL CARIBE C.A.","BANCO DEL PUEBLO SOBERANO C.A.","BANCO DEL TESORO","BANCO ESPIRITO SANTO, S.A.","BANCO EXTERIOR C.A.","BANCO INTERNACIONAL DE DESARROLLO, C.A.","BANCO MERCANTIL C.A.","BANCO NACIONAL DE CREDITO","BANCO OCCIDENTAL DE DESCUENTO.","BANCO PLAZA","BANCO PROVINCIAL BBVA","BANCO VENEZOLANO DE CREDITO S.A.","BANCRECER S.A. BANCO DE DESARROLLO","BANESCO","BANFANB","BANGENTE","BANPLUS BANCO COMERCIAL C.A","CITIBANK.","DELSUR BANCO UNIVERSAL","FONDO COMUN","INSTITUTO MUNICIPAL DE CRÉDITO POPULAR","MIBANCO BANCO DE DESARROLLO, C.A.","SOFITASA"], autofocus: true, input_html: { class: 'form-control input-register' }

= m.input :transfer_account, label: "Cuenta Transfalcon", collection: ["BANCO DE VENEZUELA", "BANCO OCCIDENTAL DE DESCUENTO"], autofocus: true, input_html: { class: 'form-control input-register' }

= m.input :transfer_code, autofocus: true, label: "N° Referencia de la Transferencia", input_html: { class: 'form-control input-register' }

= m.input :transfer_date, as: :string, autofocus: true, label: "Fecha de la Transferencia", input_html:{class: "form-control input-register datepicker" }
:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker({
      autoclose: true,
      language: "es"
    });
  });
