.banner
	.row{style:"width: 100%; margin: 0;"}
		.col-lg-6
			= image_tag "frontend/logo-ministerio.jpg", class: "pull-left"
		
		.col-lg-6.hidden-xs.hidden-sm.hidden-md{style:"padding-right: 10px;"}
			= image_tag "frontend/gobernacion.png", class: "pull-right", width:"42%"