.container
	.row
		.col-lg-4
			.social
				.social-title
					SÍGUENOS
				%ul.social-links
					%li#twitter
						= link_to "https://twitter.com/TRANSFALCON", target: "_blank" do
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-twitter.fa-stack-1x.fa-inverse
					%li#facebook
						= link_to "https://www.facebook.com/Transfalcon/?fref=ts", target: "_blank" do
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-facebook.fa-stack-1x.fa-inverse
					%li#instagram
						= link_to "https://www.instagram.com/TRANSFALCON", target: "_blank" do
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-instagram.fa-stack-1x.fa-inverse
		.col-lg-4
			= image_tag "frontend/transfalcon-footer.png", class: "img-footer"
		.col-lg-4
			.contact
				.contact-title
					¡CONTÁCTANOS!
				%ul.contact-data
					%li
						0269 277 6567
					%li
						info@transfalcon.com.ve

					%button.btn.btn-send-mailer{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
						ESCRÍBENOS
.container.credits
	%center
		.slice
			Todos lo derechos reservados. Transfalcón 2016 - Desarrollado por
			= link_to "http://slicegroup.xyz", target: "_blank" do
				= image_tag "frontend/slice.png"

#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%h4#myModalLabel.modal-title ESCRÍBENOS
			.modal-body
				= render 'keppler_contact_us/messages/form'

