%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'TRANSFALCON'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : ' - SE MUEVE CON LA GENTE'}"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	%link{:href => "http://s.mlcdn.co/animate.css", :rel => "stylesheet"}/

	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/favi.png"
	= csrf_meta_tags
	
	- if show_blog?
		%meta{ property: "og:title", content: @post.title }
		%meta{ property: "og:description", content: sanitize(@post.body, tags: []).truncate(300) }
		%meta{ property: "og:url", content: request.url }
		%meta{ property: "og:image", content: "http://transfalcon.com.ve#{@post.image}"}
	
	- elsif listing_blog?
		%meta{ property: "og:image", content: "http://transfalcon.com.ve/assets/frontend/transfalcon-footer-7e1cf525c1a349fa7535317a8c23e0877cad8cae52f01faccc8b16810fe5a8c7.png"}
	
	-elsif root_path?
		%meta{ property: "og:image", content: "http://transfalcon.com.ve/assets/frontend/transfalcon-footer-7e1cf525c1a349fa7535317a8c23e0877cad8cae52f01faccc8b16810fe5a8c7.png"}
		%meta{ property: "og:title", content: "TRANSFALCON" }
		%meta{ property: "og:description", content: "SE MUEVE CON LA GENTE" }
	
	-elsif show_center?
		%meta{ property: "og:image", content: "http://transfalcon.com.ve/assets/frontend/how-1-f16e35e404ce7dae9a57f80f2932af285298d4729015be812f52d4019700d602.png"}
		%meta{ property: "og:title", content: "#{@riffils_center.name.upcase}" }
		%meta{ property: "og:description", content: "CENTRO DE RECARGA" }

	-elsif show_road?
		%meta{ property: "og:image", content: "http://transfalcon.com.ve/assets/frontend/how-2-2e28b2534113817315a7ac614f1764bac5991d2ff859e1959e89c242420d4056.png"}
		%meta{ property: "og:title", content: "#{@road_transport.name.upcase}" }
		%meta{ property: "og:description", content: "RUTA DE TRANSPORTE" }

	:javascript
		WebFontConfig = {
			google: { families: [  'Roboto+Condensed:400,700,300:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();