%nav.navbar.navbar-default.navbar-hide.navbar-fixed-top.hidden-xs.hidden-sm.hidden-md#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .link-socials
        = link_to "https://twitter.com/TRANSFALCON", target: "_blank", id:"social-twitter" do
          %i.fa.fa-twitter-square
        = link_to "https://www.facebook.com/profile.php?id=100007173828841&fref=ts", target: "_blank", id:"social-facebook" do
          %i.fa.fa-facebook-square
        = link_to "https://www.instagram.com/TRANSFALCON", target: "_blank", id:"social-instagram" do
          %i.fa.fa-instagram
      = link_to main_app.root_path do
        .logo-transfalcon-home.pull-left{style:"display:none;"}
          = image_tag "frontend/transfalcon.png"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right        
        = render 'layouts/frontend/navigation_links'

%nav.navbar.navbar-default.navbar-fixed-top.hidden-lg#front-navbar-mobile
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to main_app.root_path do
        .pull-left.logo-short
          = image_tag "frontend/favi.png"
    .collapse.navbar-collapse.text-center
      %ul.nav.navbar-nav      
        = render 'layouts/frontend/navigation_links'