- if root_path?
  %li
    = link_to "INICIO", "#home", class:"nav-link"
  %li
    = link_to "¿QUIÉNES SOMOS?", "#about", class:"nav-link"
  %li
    = link_to "¿COMÓ FUNCIONA?", "#how", class:"nav-link"
  %li
    = link_to "CENTROS DE RECARGAS", "#refills-center", class:"nav-link"
  %li
    = link_to "RUTAS", "#road-transports", class:"nav-link"
  %li
    = link_to "NOTICIAS", "blog", class:"nav-link external"
  %li
    = link_to "GALERÍA", "#gallery", class:"nav-link"
  %li
    = link_to "CONTACTO", "#footer", class:"nav-link"

- else
  %li
    = link_to "INICIO", main_app.root_path(anchor: "home"), class:"external"
  %li
    = link_to "¿QUIÉNES SOMOS?", main_app.root_path(anchor: "about"), class:"external"
  %li
    = link_to "¿COMÓ FUNCIONA?",  main_app.root_path(anchor: "how"), class:"external"
  %li
    = link_to "CENTROS DE RECARGAS",  main_app.root_path(anchor: "refills-center"), class: "external #{'current' if action_name == 'show_center'}"
  %li
    = link_to "RUTAS",  main_app.root_path(anchor: "road-transports"), class: "external #{'current' if action_name == 'show_road'}"
  %li
    = link_to "NOTICIAS", "/blog", class: "nav-link external #{'current' if controller_name == 'blog'}"
  %li
    = link_to "GALERÍA", main_app.root_path(anchor: "gallery"), class:"external"
  %li
    = link_to "CONTACTO",  main_app.root_path(anchor: "footer"), class:"external"