%nav.navbar.navbar-default.navbar-hide#front-navbar2
	.container
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to main_app.root_path do
				= image_tag "frontend/transfalcon.png", class:"pull-left", id:"logo-transfalcon-mobile"
		.collapse.navbar-collapse
			%ul.nav.navbar-nav.pull-right        
				= render 'layouts/frontend/navigation_links'