!!!
%html
  = render 'layouts/frontend/head' 
  %body
    %header
      - if frontend_index?
        = render 'layouts/frontend/navigation'
      - elsif show_blog? || listing_blog?
        = render 'layouts/frontend/banner_gob'
        = render 'layouts/frontend/navigation_blog'
      - else
        = render 'layouts/frontend/navigation_blog'
    %main{:role => "main"}
      - unless show_blog? || listing_blog?
        = render "frontend/pages/navigation_btn_sign"
      - unless frontend_index?
        = render 'layouts/frontend/messages'
      = yield
    %footer#footer
      = render 'layouts/frontend/footer'
