.container
  .flex-parent
    .flex-item
      .title-app.text-center
        Inicio de Sesión
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
        .content
          .body-form
            .input-field.form-group
              %label{for: :email} Email:
              .input-icon
                %i.fa.fa-user.fa-2x{"aria-hidden" => "true"}
                = f.email_field :email, autofocus: true, placeholder: "Email" , class: "validate #{'invalid' if flash[:alert]} input-cs"
            .input-field.form-group
              %label{for: :password} Contraseña:
              .input-icon
                %i.fa.fa-lock.fa-2x{"aria-hidden" => "true"}
                = f.password_field :password, autofocus: true, placeholder: "Contraseña", class: "validate #{'invalid' if flash[:alert]} input-cs"
            .form-errors.center-align
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
          .footer-form
            .col-sm-6.col-md-6.col-lg-6
              .col-sm-12.col-md-12.col-lg-12.password-recoverable.no-padding
                .register.pull-left
                  ¿No tienes Cuenta? Registrate
              .col-sm-12.col-md-12.col-lg-12.btn-cs
                = link_to "Registro", new_user_registration_path ,:class => 'pull-left btn'
            .col-sm-6.col-md-6.col-lg-6
              .col-sm-12.col-md-12.col-lg-12.password-recoverable.no-padding
                - if devise_mapping.recoverable?
                  = link_to new_password_path(resource_name), class: "recoverable pull-right" do
                    = "¿Olvidaste tu contraseña?"
              .col-sm-12.col-md-12.col-lg-12.btn-cs
                = f.submit "Entrar", class: 'pull-right btn'