%html
  %head
  %body    
    %div{style:"background: #F7F7F7 ;padding: 20px;box-sizing: border-box;"}
      %div{style:"background: #ffffff ; border: 1px solid #c0c0c0 ;padding: 20px;box-sizing: border-box;"}
        = image_tag "http://transfalcon.com.ve/assets/frontend/transfalcon-15bf4be4698a66db2eb2cc61795dfea7a625738bb9968b1b4adc890f16047caf.png", width: 300;
        %h1{style:"text-align: left; font-size: 16px; color: red; padding-top: 20px; padding-bottom: 20px;"}
          Recibo Nro:
          = @order.code
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Nombre:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
              = @order.user.name
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Email:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
              = @order.user.email
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Identificación:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
              = @order.user.identification
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Telefono 1:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
              = @order.user.phone1
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Telefono 2:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
              = @order.user.phone2
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Tipo de Pago:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
              = @order.payment.type_payment
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Codigo de Mercado Pago:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
              = @order.payment.mp_code
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Codigo de Transferencia:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
              = @order.payment.transfer_code
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Fecha de Transferencia:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 0 0;"}
              = @order.payment.transfer_date
        .title
          %h3{style: "font-size: 15px; display: inline-block; font-weight: bold; margin: 5px 0 0 0;"}
            Banco Remitente:
            %span{style: "font-size: 15px; font-weight: normal; display: inline-block; margin: 5px 0 20px 0;"}
              = @order.payment.transfer_bank
        %table.table-striped{border: "1", style: "width:100%; border: 1px solid #c0c0c0 ;border-collapse: collapse;"}
          %thead{style: "background-color: rgba(237, 34, 21, .7); color: white;"}
            %tr
              %th Código
              %th Producto
              %th Cantidad
              %th Fecha de Pedido
              %th Precio Unitario
              %th Estatus de la Orden
          %tbody
            %tr
              %td{style:"padding: 10px; text-align: center;"}= @order.code
              %td{style:"padding: 10px; text-align: center;"}= @order.product.name
              %td{style:"padding: 10px; text-align: center;"}= "#{@order.quantity} unidad(es)"
              %td{style:"padding: 10px; text-align: center;"}= @order.created_at.strftime("%d-%m-%Y")
              %td{style:"padding: 10px; text-align: center;"}= "BsF #{@order.product.price}"
              %td{style:"padding: 10px; text-align: center;"}= @order.status
            %tr
              %td{colspan: 5}
                .pull-right{style: "text-align: right; padding-right: 10px;"}
                  Precio Total
              %td
                .pull-right{style: "text-align: right; padding-right: 20px;"}
                  %h2= "BsF #{@order.price}"