.listing-show-header
	%h5
		= material_icon.md_24.store_mall_directory.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Descripcion del modulo
		%p{align: "justify"} Permite agregar, mostrar, editar y eliminar centros de recarga..
