.wrapper
	.wrapper-body.container
		.actions
			= link_to riffils_centers_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @riffils_center do |f|
					.row
						= f.input :name, label: "Nombre"
						= f.input :address, label: "Dirección", input_html: {class: "materialize-textarea"}
						= f.input :phone, label: "Teléfono"
						= f.input :schedule, label: "Horario"
						= f.association :municipality, label: false, include_blank: "Añadir municipio", input_html: { class: "browser-default" }
						= f.input :sector_ids, :collection => f.object.created_at? ? f.object.sectors.map.each { |s| [s.name, s.id] } : [], label: "Añadir sector del comercio", include_blank: f.object.created_at? ? false : "Debe seleccionar un municipio para poder elejir los sectores", :input_html => { :multiple => true, disabled: f.object.created_at? ? false : true }

						 
						= f.input :map, label: "Mapa", as: :text, input_html: { class: "materialize-textarea" }
						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
