.listing-show-header
	.actions
		- if can? :update, RiffilsCenter
			= link_to edit_riffils_center_path(@riffils_center), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.store_mall_directory.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("Identificador")
			.display-value= @riffils_center.id
		%li.list-row
			.display-label= t("Nombre")
			.display-value= @riffils_center.name
		%li.list-row
			.display-label= t("Direccion")
			.display-value= @riffils_center.address
		%li.list-row
			.display-label= t("Municipio")
			.display-value= @riffils_center.municipality.name	
		%li.list-row
			.display-label= t("Telefono")
			.display-value= @riffils_center.phone
		%li.list-row
			.display-label= t("Ubicacion")
			.map-road-min
				= @riffils_center.map.html_safe

:javascript
	$('.tooltipped').tooltip({delay: 1});
