%tr{ id: "row-#{riffils_center.id}" }
	- if can? :destroy_multiple, RiffilsCenter
		%td.item-check{style:"width: 10%"}
			= link_to "", riffils_center_path(riffils_center), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{riffils_center.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{riffils_center.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{riffils_center.id}" }

		%td{style:"width: 30%"}
			= link_to "", riffils_center_path(riffils_center, search: @query), remote: true, class: "show-row"
			%span
				= riffils_center.name
		%td{style:"width: 30%"}
			= link_to "", riffils_center_path(riffils_center, search: @query), remote: true, class: "show-row"
			%span
				= riffils_center.municipality.name
		%td{style:"width: 30%"}
			= link_to "", riffils_center_path(riffils_center, search: @query), remote: true, class: "show-row"
			%span
				= riffils_center.phone
								
	%td{style:"width: 5%"}		
		= link_to riffils_center_path(riffils_center), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")