= title "Centros de recarga | #{@riffils_center.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, RiffilsCenter
				= link_to riffils_center_path(@riffils_center), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, RiffilsCenter
				= link_to edit_riffils_center_path(@riffils_center), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to riffils_centers_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("Identificador")
					.display-value.fs-body-1.tc-black-2= @riffils_center.id.to_s.humanize
				%li.list-row
					.display-label= t("Nombre")
					.display-value.fs-body-1.tc-black-2= @riffils_center.name.to_s.humanize
				%li.list-row
					.display-label= t("Direccion")
					.display-value.fs-body-1.tc-black-2= @riffils_center.address.to_s.humanize
				%li.list-row
					.display-label= t("Municipio")
					.display-value.fs-body-1.tc-black-2= @riffils_center.municipality.name.to_s.humanize
				%li.list-row
					.display-label= t("Telefono")
					.display-value.fs-body-1.tc-black-2= @riffils_center.phone.to_s.humanize
				%li.list-row
					.display-label= t("Ubicacion")
					.map-road
						= @riffils_center.map.html_safe
