.container
	.header-section
		.title-section
			TRANSFALCÓN
		.subtitle-section
			LA REVOLUCIÓN DEL TRANSPORTE
	.row.about-section
		.col-lg-6.mision
			.title-section
				MISIÓN
			.about-content
				Garantizar que el servicio público de transporte terrestre de pasajeros se ejecute con los mayores estándares de calidad en todos los sectores rurales, urbanos, suburbanos e interurbanos del estado, así como el apoyo a organismos públicos a través de unidades de alta tecnología con un personal competente, adiestrado y comprometido con los objetivos institucionales, asegurando el crecimiento social, cultural y económico del estado Falcón.
		.col-lg-6.vision
			.title-section
				VISIÓN
			.about-content
				Ser empresa líder ejemplo de eficiencia, eficacia y calidad en el servicio público de transporte terrestre de pasajeros en el estado Falcón o cualquier territorio de la República Bolivariana de Venezuela, con el reconocimiento de nuestros usuarios por la excelencia en los niveles de seguridad y capacidad de servicio ofrecidos a toda la población.
.container.about-organigrama
	.row
		.col-lg-12
			.header-section
				.title-section
					CONOCE CÓMO ESTAMOS CONFORMADOS
			.btn.btn-section{ "data-toggle" => "modal", "data-target" => "#organization-modal" }
				ORGANIGRAMA			

#organization-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-body
				= image_tag "frontend/bg-modal-new.png", class: "hidden-xs hidden-sm"
				= image_tag "frontend/bg-modal-responsive-new.png", class: "visible-xs visible-sm"
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar