- if @attachments
  - @attachments.each do |attachment|
    - if attachment.image?
      .col-lg-3.col-md-6.col-sm-6.col-xs-12.grid-item.hvr-shrink
        %a{"data-toggle" => "modal", "data-target" => "#modal-#{attachment.id}", type: "button", href: "#"}
          .mask
            %span 
              = attachment.name
          .item-img
            = image_tag attachment.image, class: "img-responsive", style: "height: 220px;"
      .modal-image.modal.fade{id: "modal-#{attachment.id}", "aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-body
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  = image_tag attachment.image
                

    - elsif attachment.url? and attachment.upload.eql?("3")
      .col-lg-3.col-md-6.col-sm-6.col-xs-12.grid-item.hvr-shrink
        %a{"data-toggle" => "modal", type: "button", href:"#modal-#{attachment.id}"}
          .mask
            %span
              %i.fa.fa-youtube-play.fa-3x{"aria-hidden" => "true"}
          .item-img
          = image_tag(attachment.thumbnail_youtube, class: "img-responsive img-rounded img-gallery hvr-grow", style: "height: 220px;")
      .modal.fade{id: "modal-#{attachment.id}", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-body
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  %iframe.video-player{id: "#video-#{attachment.id}", allowfullscreen: "", frameborder: "1", height: "350"}
                  :javascript
                    $(document).ready(function(){
                      var url = "#{attachment.url}";
                      var autoplay = "?autoplay=1";
                      
                      $("iframe #video-#{attachment.id}").attr('src', '');
                    
                      $("#modal-#{attachment.id}").on('shown.bs.modal', function(){
                          $("#modal-#{attachment.id} iframe").attr('src', url + autoplay);
                      });
                      
                      $("#modal-#{attachment.id}").on('hide.bs.modal', function(){
                          $("iframe").attr('src', "");
                      });
                    });

- if frontend_index? || option_landing_gallery? && @catalog 
  .col-lg-12.col-xs-12{style:"padding: 0;"}
    %center
      = link_to show_gallery_path(@catalog.name.downcase), class: "btn btn-option-gallery", id: "option-show-gallery-#{@catalog.name}" do
        VER MÁS
- else 
  .container
    .row
      .col-md-12.text-center
        = paginate @attachments