.content
  %h1.title TRANSFALCÓN
  %h3.subtitle 
    SE MUEVE CON LA GENTE
    = image_tag "frontend/points.png"

  .banner-buy-card
    %p.banner-buy-card-text ADQUIERE TU SISTEMA ÚNICO DE PAGO
    - if user_signed_in?
      - if current_user.rol.eql?('admin') || current_user.rol.eql?('superadmin')
        = link_to("Ver Pedidos", orders_path, class: "btn btn-send-mailer")
      -else
        = link_to("Ver Mis Ordenes", view_orders_path, class: "btn btn-send-mailer")
    - else
      = link_to("COMPRA TU TARJETA", new_user_session_path , class: "btn btn-send-mailer")