.container
	= header_section("¿CÓMO FUNCIONA NUESTRO SERVICIO?", "Con Transfalcón es muy fácil llegar a tu destino, conoce nuestro moderno y seguro sistema de transporte urbano y suburbano.")
	.container.how-section
		.row
			- (1..3).each do |index|
				.col-lg-4
					.how-section-content
						.how-section-content-link
							.how-section-content-image
								= image_tag "frontend/how-#{index}.png"
							.how-section-content-text
								= t("frontend.how.text-#{index}")
