.config-wrapper
  .config-wrapper-inner
    %a.config-trigger{id: "config-trigger"}
      %i.fa.fa-user.fa-2x
    .config-panel.display{id: "config-panel"}
      - if user_signed_in?
        - if is_index?
          - if current_user.rol.eql?('admin') || current_user.rol.eql?('superadmin')
            = link_to("Ver Pedidos", orders_path, class: "btn btn-send-mailer")
            
            = link_to("Administración", admin_index_path, class: "btn btn-send-mailer")
            
            = link_to("Cerrar Sesión", destroy_user_session_path, class: "btn btn-send-mailer")
          - else
            = link_to("Ver Mis Ordenes", view_orders_path, class: "btn btn-send-mailer")
            
            = link_to("Editar Perfil", edit_profile_path, class: "btn btn-send-mailer")
            
            = link_to("Cerrar Sesión", destroy_user_session_path, class: "btn btn-send-mailer")
        - else
          - if current_user.rol.eql?('admin') || current_user.rol.eql?('superadmin')
            = link_to("Ver Mis Ordenes", view_orders_path, class: "btn btn-send-mailer")
            
            = link_to("Administración", admin_index_path, class: "btn btn-send-mailer")
            
            = link_to("Cerrar Sesión", destroy_user_session_path, class: "btn btn-send-mailer")
          - else
            = link_to("Ver Mis Ordenes", view_orders_path, class: "btn btn-send-mailer")
            
            = link_to("Editar Perfil", edit_profile_path, class: "btn btn-send-mailer")
            
            = link_to("Cerrar Sesión", destroy_user_session_path, class: "btn btn-send-mailer")
      - else
        
        = link_to("Iniciar Sesión", new_user_session_path, class: "btn btn-send-mailer")
        
        = link_to("Registrarse", new_user_registration_path, class: "btn btn-send-mailer")
:javascript
  var toggle = 0
  $('#config-trigger').on('click', function(e) {
    if(toggle==0){
      $('.config-wrapper').animate({
        right:"0px"
      })
      toggle = 1;
    }else{
      $('.config-wrapper').animate({
        right: "-200px"
      })
      toggle = 0;
    }
  });
    
    $('#config-close').on('click', function(e) {
        e.preventDefault();
        $('#config-panel').hide();
    });