.banner
	.row{style:"width: 100%; margin: 0px;"}
		.col-lg-6{style:"padding: 0px;"}
			= image_tag "frontend/logo-ministerio.jpg", class: "pull-left", id: "logo-ministerio"
		
		.col-lg-6
			= image_tag "frontend/gobernacion.png", class: "pull-right", id: "logo-gobernacion", width:"42%"

- unless @posts.empty?
	.container
		.row.posts.hidden-xs
			.post.col-lg-6
				= link_to "blog/#{@posts[3].permalink}" do
					.post-image{ style: "background-image: url(#{@posts[3].image}); height: 400px;" }
						.post-title
							%p #{@posts[3].title}
							%p.link-blog VER MAS

			.post.col-lg-6
				= link_to "blog/#{@posts[2].permalink}" do
					.post-image-2{ style: "background-image: url(#{@posts[2].image}); height: 200px;" }
						.post-title
							%p #{@posts[2].title}
							%p.link-blog VER MAS
				.post.col-lg-6
					= link_to "blog/#{@posts[1].permalink}" do
						.post-image-3{ style: "background-image: url(#{@posts[1].image}); height: 200px;" }
							.post-title
								%p #{@posts[1].title}
								%p.link-blog VER MAS
				.post.col-lg-6
					= link_to "blog/#{@posts[0].permalink}" do
						.post-image-4{ style: "background-image: url(#{@posts[0].image}); height: 200px;" }
							.post-title
								%p #{@posts[0].title}
								%p.link-blog VER MAS

		.row.posts.hidden-lg.hidden-md.hidden-sm
			.post.col-xs-12{ style: "height: 350px;"}
				= link_to "blog/#{@posts[0].permalink}" do
					.post-image{ style: "background-image: url(#{@posts[0].image}); height: 350px;" }
						.post-title
							%p #{@posts[0].title}
							%p.link-blog VER MAS
			.post.col-xs-12{ style: "height: 350px;"}
				= link_to "blog/#{@posts[1].permalink}" do
					.post-image{ style: "background-image: url(#{@posts[1].image}); height: 350px;" }
						.post-title
							%p #{@posts[1].title}
							%p.link-blog VER MAS
			.post.col-xs-12{ style: "height: 350px;"}
				= link_to "blog/#{@posts[2].permalink}" do
					.post-image{ style: "background-image: url(#{@posts[2].image}); height: 350px;" }
						.post-title
							%p #{@posts[2].title}
							%p.link-blog VER MAS
			.post.col-xs-12{ style: "height: 350px;"}
				= link_to "blog/#{@posts[3].permalink}" do
					.post-image{ style: "background-image: url(#{@posts[3].image}); height: 350px;" }
						.post-title
							%p #{@posts[3].title}
							%p.link-blog VER MAS


