.container
	= header_section("NUESTROS COMERCIOS ALIADOS", "Encuentra el centro de recarga más cercano para mantenerte en movimiento.")

	= form_tag get_option_path, class: "form-inline form-inline-default" do
		.col-lg-3
			= select_tag "municipality", options_from_collection_for_select(@municipality, :id, :name), include_blank: "Municipios", class: "form-control", id: "riffils_center_municipality_select"
		.col-lg-3
			= select_tag "sector", options_from_collection_for_select([], :id, :name), include_blank: "Sectores", class: "form-control", id: "riffils_center_sector_select", disabled: true
		.col-lg-3
			= select_tag "center", options_from_collection_for_select([], :id, :name), include_blank: "Centros de recarga", class: "form-control", id: "riffils_center_sector_center", disabled: true
		.col-lg-3
			%button{:name => "commit", class: "btn btn-send", id: "btn-center", disabled: true, :type => "submit", :value => "center"} VER INFORMACIÓN

