.container
	= header_section("RUTAS TRANSFALCÓN", "Descubre hasta donde llega nuestro servicio de primera")
			
	= form_tag get_option_path, class: "form-inline form-inline-default" do
		.col-lg-3
			= select_tag "municipality", options_from_collection_for_select(@municipality, :id, :name), include_blank: "Municipios", class: "form-control", id: "riffils_center_municipality_select2"
		.col-lg-3
			= select_tag "sector", options_from_collection_for_select([], :id, :name), include_blank: "Sectores", class: "form-control", id: "riffils_center_sector_select2", disabled: true
		.col-lg-3
			= select_tag "road", options_from_collection_for_select([], :id, :name), include_blank: "Rutas", class: "form-control", id: "riffils_center_sector_road", disabled: true
		.col-lg-3
			%button{:name => "commit", class: "btn btn-send", id: "btn-road", disabled: true, :type => "submit", :value => "road"} VER INFORMACIÓN