.wrapper
	.wrapper-body.container
		.actions
			= link_to payments_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @payment do |f|
					.row
						= f.input :mp_code
						= f.input :transfer_code
						= f.input :transfer_date, as: :string, input_html: {class: "datepicker"}
						= f.input :transfer_bank
						= f.association :order

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
