.listing-show-header
	.actions
		- if can? :update, Payment
			= link_to edit_payment_path(@payment), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @payment.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.mp_code")
			.display-value= @payment.mp_code
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.transfer_code")
			.display-value= @payment.transfer_code
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.transfer_date")
			.display-value= @payment.transfer_date
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.transfer_bank")
			.display-value= @payment.transfer_bank
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.order")
			.display-value= @payment.order
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
