%tr{ id: "row-#{payment.id}" }
	- if can? :destroy_multiple, Payment
		%td.item-check{style:"width: 10%"}
			= link_to "", payment_path(payment), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{payment.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{payment.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{payment.id}" }

		%td{style:"width: 30%"}
			= link_to "", payment_path(payment, search: @query), remote: true, class: "show-row"
			%span
				= payment.mp_code
		%td{style:"width: 30%"}
			= link_to "", payment_path(payment, search: @query), remote: true, class: "show-row"
			%span
				= payment.transfer_code
		%td{style:"width: 30%"}
			= link_to "", payment_path(payment, search: @query), remote: true, class: "show-row"
			%span
				= payment.transfer_date
		%td{style:"width: 30%"}
			= link_to "", payment_path(payment, search: @query), remote: true, class: "show-row"
			%span
				= payment.transfer_bank
		%td{style:"width: 30%"}
			= link_to "", payment_path(payment, search: @query), remote: true, class: "show-row"
			%span
				= payment.order
								
	%td{style:"width: 5%"}		
		= link_to payment_path(payment), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")