= title "Payments | #{@payment.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Payment
				= link_to payment_path(@payment), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Payment
				= link_to edit_payment_path(@payment), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to payments_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.id")
					.display-value.fs-body-1.tc-black-2= @payment.id.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.mp_code")
					.display-value.fs-body-1.tc-black-2= @payment.mp_code.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.transfer_code")
					.display-value.fs-body-1.tc-black-2= @payment.transfer_code.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.transfer_date")
					.display-value.fs-body-1.tc-black-2= @payment.transfer_date.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.transfer_bank")
					.display-value.fs-body-1.tc-black-2= @payment.transfer_bank.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.order")
					.display-value.fs-body-1.tc-black-2= @payment.order.to_s.humanize
