- if can? :index, KepplerBlog::Post
  %li
    = header_tab "Blog", "library_books", current_navigation?("KepplerBlog")
    = body_tab do
      - if can? :index, KepplerBlog::Post
        = link_tab "Posts", "/admin/blog/posts", current_tab?("KepplerBlog", "Posts")
      - if can? :index, KepplerBlog::Category
        = link_tab "Categorías", "/admin/blog/categories", current_tab?("KepplerBlog", "Categories")