.listing-show-header
	.actions
		- if can? :update, Municipality
			= link_to edit_municipality_path(@municipality), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_balance.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("Identificador")
			.display-value= @municipality.id
		%li.list-row
			.display-label= t("Nombre")
			.display-value= @municipality.name
		- unless @municipality.sectors.empty?
			%li.list-row
				.display-label Sectores
				.display-value
					%ul
						- @municipality.sectors.each do |sector|
							%li
								= "- #{sector.name}"
	

:javascript
	$('.tooltipped').tooltip({delay: 1});
