%tr{ id: "row-#{municipality.id}" }
	- if can? :destroy_multiple, municipality
		%td.item-check{style:"width: 10%"}
			= link_to "", municipality_path(municipality), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{municipality.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{municipality.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{municipality.id}" }

	%td{style:"width: 30%"}
		= link_to "", municipality_path(municipality, search: @query), remote: true, class: "show-row"
		%span
			= municipality.name
								
	%td{style:"width: 5%"}		
		= link_to municipality_path(municipality), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")