= title "Municipios | #{@municipality.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Municipality
				= link_to municipality_path(@municipality), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Municipality
				= link_to edit_municipality_path(@municipality), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to municipalities_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("Identificador")
					.display-value.fs-body-1.tc-black-2= @municipality.id
				%li.list-row
					.display-label= t("Nombre")
					.display-value.fs-body-1.tc-black-2= @municipality.name

				- unless @municipality.sectors.empty?
					%li.list-row
						.display-label Sectores
						.display-value
							%ul
								- @municipality.sectors.each do |sector|
									%li
										= "- #{sector.name}"
