@import "navbar_categories";

@mixin icon-before($icon){
  content: $icon;
  font-family: FontAwesome;
}

$tablet-7: "only screen and (min-width: 600px) and (max-width: 795px) and (orientation : portrait)";
$tablet-7-landscape: "only screen and (min-width: 680px) and (max-width: 1030px) and (orientation : landscape)";
$phone: "(max-width: 467px)";
$phone-landscape: "(max-device-width: 767px) and (orientation: landscape)";
$tablet-landscape: "(min-width:768px) and (orientation : landscape)";
$tablet-portrait: "(min-width: 768px) and (max-width:991px)";



#logo-transfalcon-mobile{

	width: 20%;
	position: absolute;
	top: -10px;

	@media #{$phone}{
		top: 0px;
		width: 55%;
		top: 5px;
	}

	@media #{$phone-landscape}{
		width: 35%;
		top: 5px
	}

	@media #{$tablet-portrait}{
		width: 30%;
		top: 25px;
	}

	@media #{$tablet-7}{
		width: 35%;
		top: 5px;
	}

	@media #{$tablet-7-landscape}{
		display: none;
	}
}

#front-navbar2{
	margin-top: 20px;
	margin-bottom: 0;
	background-color: #fff !important;
	box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
	border-color: #fff;

	@media #{$phone}{
		margin-top: 0px;
	}

	@media #{$phone-landscape}{
		margin-top: 0px;
	}

	.container{
		width: 100%;
		height: 60px;

		@media #{$tablet-portrait}{
			padding: 0;
		}

		@media #{$phone}{
			height: auto;
		}
		.navbar-collapse{

			@media #{$tablet-portrait}{
				float: right;
				width: 71%;
			}

			ul{
				@media #{$phone}{
					float: none !important;
					text-align: center;
				}

				li{
					a{
						color: #000 !important;
						font-weight: bold;

						@media #{$phone}{
							font-weight: normal;
						}
					}

					a:hover{
						color: rgba(237, 34, 21, 0.88) !important;
					}

					.current{
						color: rgba(237, 34, 21, 0.88) !important;
					}
				}
			}
		}
	}
}




.blog{
	width: 100%;
	margin: 60px 0px;
	padding: 0 10px 0 18px;

	@media #{$phone}{
		padding: 0 10px 0 10px;
		margin: 30px 0px;
	}

	@media #{$phone-landscape}{
		padding: 0 10px 0 10px
	}

	@media #{$tablet-portrait}{
		padding: 0 10px 0 10px;
	}

	@media #{$tablet-7}{
		padding: 0 10px 0 10px;
	}


	/*CSS VISTA INTERNA DEL POST*/

	.posts-wrapper-show{
		.post{
			&-image{
				width: 100%;
				height: 450px;
				background-size: cover;
				background-position: center;
				
				.post-attributes-show{
						position: relative;
					  top: 94%;
					  background: rgba(2, 2, 2, 0.7);
					  width: 100%;
					  padding: 5px 10px;

					  @media #{$phone}{
					  	top: 94%;
					  }

					  @media #{$phone-landscape}{
					  	top: 94%;
					  }

					  @media #{$tablet-7}{
					  	top: 94%;
					  }

					  @media #{$tablet-portrait}{
					  	top: 91.5%;
					  }


					ul{
						display: flex;
						list-style: none;
						padding: 0;
						margin: 0;
						font-size: 12px;

						@media #{$tablet-7-landscape}{
							font-size: 20px;
						}

						li{
							margin-right: 20px;
							color: #fff;

							a{
								color: #fff;
								text-decoration: underline;

								@media #{$phone}{
									font-size: 12px;
								}

								@media #{$phone-landscape}{
									font-size: 12px;
								}

								@media #{$tablet-7}{
									font-size: 12px;
								}
							}
						}
					}
				}
			}

			&-title{
				text-decoration: none;
				a{
					color: #000;
				}

				a:hover{
					text-decoration: none;
				}
			}
		}
	}

	/*FIN CSS VISTA INTERNA DEL POST*/
	.margin{
		padding-right: 5px;
		padding-left: 0px;
		
		@media #{$phone}{
			padding-right: 0px ;
			padding-left: 0px;
		 }

		 @media #{$phone-landscape}{
			padding-right: 0px ;
			padding-left: 0px;
		 }

		 @media #{$tablet-portrait}{
		 	padding-right: 0px ;
			padding-left: 0px;
		 }

		.posts-wrapper{
			overflow: hidden;
			width: 100%;
			margin-bottom: 20px;
			height: 300px;
			background-size: cover;

			@media #{$phone}{
				/*margin-left: 5px;*/
				background-position: center;
			}

			.post{

				&-title{
					margin: 0px;
					font-size: 20px;
					a, a:hover{
						color: #434955;
						text-decoration: none;
					}
				}

				&-attributes{
					margin: 0px 0px 25px 0px;
					position: absolute;
					background: #D40A0D;
					ul{
						padding: 0px;
						li{
						
							list-style-type: none;
							display: inline-block;
							color: #9ca4af;

							span{
								padding: 5px 0 0 15px;
								font-size: 16px;
								width: 50px;
								height: 45px;
								color: #fff;
								font-weight: bold;
								display: flex;
							}
						}
					}
				}

				&-image{
					img{
						border-radius: 5px;
					}
				}

				&-body{
					height: auto;
					padding: 5px 20px;
					color: #fff;
					line-height: 22px;
					position: relative;
					bottom: -268px;
					text-overflow:ellipsis;
					white-space:nowrap; 
					overflow:hidden;
					background: rgba(2, 2, 2, 0.7);
					width: 100%;
					border-radius: 0 0 5px 5px;
					text-align: center;
					margin: 0 0 20px 0;
					-webkit-transition: background .5s;
	       			 transition: background .5s;
					-webkit-transition: .2s;
	       			 transition: .2s;

	       			 @media #{$phone}{
	       			 	font-size: 15px;
	       			 	bottom: -242px;
	       			 }

	       			 @media #{$phone-landscape}{
						bottom: -242px;	
	       			 }

	       			 @media #{$tablet-portrait}{
	       			 	bottom: -240px;	
	       			 }

					a{
						text-decoration: none;
						color: #fff;	
					}

					p{
						text-align: center;
						color: #fff;
						line-height: 30px;
						text-decoration: underline;

						@media #{$phone-landscape}{
							font-size: 17px;
	       			 	}
	
					}
					.read-more{
						margin-top: 15px;
						a{
							border-color: #ee6e73;
	  					color: #ee6e73;
							padding: 2px 13px;
						  font-size: 13px;
						  line-height: 16px;
						  border-width: 2px;
						}
					}
				}

				&-body:hover{
					
				}
			}

			.hr-half{
				border-color: #c8c8c8;
	  		border-top-width: 2px;
			}
		}
	}
	.posts-wrapper:hover{

		.post{
			&-body{
				bottom: -238px;
				background: rgba(2, 2, 2, 1);
				-webkit-transition: .2s;
        transition: .2s;
			}

			p{
			text-decoration: underline;
			font-size: 16px;
			-webkit-transition: .6s;
        transition: .6s;
			}
		}

	}

	.blog-widget{
		margin-bottom: 50px;

		@media #{$phone}{
			margin-bottom: 20px;	
		}

		&--header{
			margin-bottom: 10px;
			.widget-title{
			  font-size: 18px;
			  text-transform: uppercase;
			  font-weight: 500;
			  margin: 0px 0px 10px 0px;
			}
		}

		&--body{
			ul.widget-list{
				padding: 0px;
				li{
					list-style-type: none;
				}
			}
			
			//widget recents
			#recents{
				li{
					margin-top: 10px;
					a{
						color: #333;
					}
				}
			}

			//widget tags
			#tags{
				li{
					margin-bottom: 10px;
					display: inline-block;
					a{
						border-radius: 2px;
						font-size: 12px;
						background: #333;
						color: white;
						padding: 4px 10px;
						text-transform: uppercase;
					}
					a:hover{
						text-decoration: none;
						background: rgba(237, 34, 21, 0.88);
						-webkit-transition: background .5s;
        		transition: background .5s;
					}
					a.active{
						background: #ee6e73;
					}
				}
			}

			//widget search
			#search{
				input {
					width: 100%;
					padding:5px 10px 5px 20px;
				}
			}
		}
	}
	
	.social-share-button{
		margin-top: 5px;
	}

	.pagination{
		width: 100%;
		text-align: center;

		.btn-current{
			background: #D40A0D;
			color: white;
			font-weight: bold;
		}

		.page, .next, .last, .prev, .first{			
			.btn-page, .btn-page:hover{
				color: rgba(0, 0, 0, 0.54) !important;
				background: #eeeeee;
				font-weight: bold;
				i{
					font-weight: bold;
				}
			}
		}
	}
}

.social-share-button{
	a{
		text-decoration: none;
		color: #333;
		font-size: 30px;
		margin-left: 3px;
	}

	a:hover{
		color: rgba(237, 34, 21, 0.88);
		-webkit-transition: color .5s;
        		transition: color .5s;
	}

	&-twitter:before{
		@include icon-before("\f081");
	}

	&-facebook:before{
		@include icon-before("\f082")
	}
	
	&-google_plus:before{
		@include icon-before("\f0d4")
	}

	&-pinterest:before{
		@include icon-before("\f0d3")
	}

	&-tumblr:before{
		@include icon-before("\f174")
	}

	&-email:before{
		@include icon-before("\f199")
	}

}

@media only screen and (-webkit-device-pixel-ratio: 2) {
  a{
		text-decoration: none;
		color: #333;
		font-size: 20px;
	}

	a:hover{
		color: #ee6e73;
		-webkit-transition: color .5s;
        		transition: color .5s;
	}
}
