#navbar-categories{
	background: #867371;
	.dropdown-menu .sub-menu {
	  left: 100%;
	  position: absolute;
	  top: 0;
	  visibility: hidden;
	  margin-top: -1px;
	}
	
	.nav.navbar-nav li{
		a{
			background: transparent;
			color: white;
		}
		a.active{
			color: #333
		}
	}

	.dropdown-menu li:hover .sub-menu {
	  visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
	  display: block;
	}

	.dropdown-menu li{
		a{
			color: #333 !important;
		}
		a:hover{
			background: #ECECEC;
		}

		a.active{
			background: #ECECEC;
		}
	}

	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	  margin-top: 0;
	}

	.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
	}
	.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
	}
}