%html
  %head
  %body    
    %div{style:"background: #F7F7F7 ;padding: 20px;box-sizing: border-box;"}
      %div{style:"background: #ffffff ; border: 1px solid #c0c0c0 ;padding: 20px;box-sizing: border-box;"}
        = image_tag "http://transfalcon.com.ve/assets/frontend/transfalcon-15bf4be4698a66db2eb2cc61795dfea7a625738bb9968b1b4adc890f16047caf.png", width: 300;
        %p
          Hola #{@resource.email}!
        %p Nos has hecho una petición para cambiar tu contraseña. Puedes hacerlo a través de este enlace.
        %p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
        %p Si usted no solicitó esto, por favor ignore este correo.
        %p Su contraseña no cambiará si no entra al enlace anterior y cree una nueva.