.listing-show-header
	.actions
		- if can? :update, Product
			= link_to edit_product_path(@product), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @product.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.quantity")
			.display-value= "#{@product.quantity} Unidad(es)"
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.price")
			.display-value= "BsF #{@product.price}"

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
