= title "Products | #{@product.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Product
				= link_to product_path(@product), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Product
				= link_to edit_product_path(@product), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to products_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @product.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.quantity")
					.display-value.fs-body-1.tc-black-2= "#{@product.quantity} Unidad(es)"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.price")
					.display-value.fs-body-1.tc-black-2= "BsF #{@product.price}"