$desktop-large: "(min-width:1600px)";
$desktop: "(min-width:992px)";

$tablet-landscape: "(min-width:768px) and (orientation : landscape)";
$tablet-portrait: "(min-width: 768px) and (max-width:991px)";

$tablet-7: "only screen and (min-width: 600px) and (max-width: 795px) and (orientation : portrait)";
$tablet-7-landscape: "only screen and (min-width: 680px) and (max-width: 1030px) and (orientation : landscape)";

$phone: "(max-width: 467px)";
$phone-landscape: "(max-device-width: 767px) and (orientation: landscape)";

$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;


//fuentes
$roboto: 'Roboto Condensed', sans-serif;

//colores
$primary-color: rgb(193, 80, 16);
$bg-primary: #fff;
$bg-secondary: #f5f5f5;